[2015-07-01 12:43] xinthink opened #1 "images"
![buttons](https://cloud.githubusercontent.com/assets/390805/8454632/a65ec8ae-2031-11e5-93ba-f95874aa3fa3.gif)

[2015-07-01 13:21] #1 closed

[2015-07-16 05:04] xinthink commented on #1
![textfields](https://cloud.githubusercontent.com/assets/390805/8715858/2f420854-2bbb-11e5-8ec9-9ff35b6fdeed.gif)

[2015-07-18 06:02] piyushchauhan2011 opened #2 "react-native 0.7.1 release."
Is this project upto date with latest react-native release ?

[2015-07-18 08:27] xinthink commented on #2
I'm still using react-native 0.5 for testing, but it should work with the latest version. Please let me know if there's any issue with the latest version.
And the next push will be tested with 0.7.1

[2015-07-18 12:05] xinthink commented on #1
[Material Design Lite](http://www.getmdl.io/components/index.html#buttons-section) pre-defined buttons
![buttons-mdl](https://cloud.githubusercontent.com/assets/390805/8761525/08593298-2d88-11e5-98dc-6180a5122b1f.gif)

[2015-07-19 02:07] #2 closed

[2015-07-20 06:21] xinthink commented on #1
[Material Design Lite](http://www.getmdl.io/components/#textfields-section) pre-defined textfields
![textfields-mdl](https://cloud.githubusercontent.com/assets/390805/8770805/a00a853e-2eea-11e5-9801-4fc96ddb6e62.gif)

[2015-07-21 13:23] jaygarcia opened #3 "[Question] - Builder versus configuration object"
Question as to why you used the builder pattern instead of a configuration object pattern for configuring instances.

The following has ten total method calls just for one button.
[code]

The MooTools configuration pattern uses just one
[code]

[2015-07-22 06:40] xinthink commented on #3
Hi @jaygarcia, thanks for the valuable question.

The same question has been frustrating me :confounded:, until I realize that I'm not going to obsolete the object pattern by introducing builder. I just can't, configuration object is built into the heart of React. For example, you're always free to do this:

[code]

the props objects can be reused & extended:

[code]

So, my reasoning is that `the

[2015-07-22 17:16] slonoed commented on #3
Hi! Thanks for great thing.
How to create fab in JSX code?

[2015-07-22 23:46] xinthink commented on #3
the most simple way is to use the predefined props:

[code]

if you prefer the tag style

[code]

[2015-07-27 08:15] xinthink commented on #1
Material Design Lite [Icon Toggle](http://ww.getmdl.io/components/index.html#toggles-section/icon-toggle) & [Switch](http://ww.getmdl.io/components/index.html#toggles-section/switch)
![toggles-mdl](https://cloud.githubusercontent.com/assets/390805/8901336/a2a28c48-347a-11e5-9210-e93379fd36db.gif)

[2015-07-28 03:01] psbanka opened #4 "How to get text out of a text object"
Thanks for this amazing project! This is very easy to use and quite well written.

I started experimenting with `MKTextField.Builder()`, and I quickly realized that I didn't know the best way to get the text values *out* of the element, since there doesn't seem to be any `withOn...` type of handler available for the builder. Looking over the code in https://github.com/xinthink/react-native-materia

[2015-07-28 06:06] apolkingg8 opened #5 "[MKTextField] How to get input event like RN.TextInput?"
Thanks for this awesome project, the material design effect really perfect. But I have some problem with MKTextField: How can I get input area events like `onChangeText `, `onEndEditing ` and other `on*` in [RN.TextInput](http://facebook.github.io/react-native/docs/textinput.html#content)? I can't find anything about that in README or `MKTextField.js`, it's really hard to work without these event

[2015-07-28 08:52] xinthink commented on #4
I'm so sorry, I just forgot about it :scream:
I'll fix it ASAP.

[2015-07-28 08:57] xinthink commented on #5
I'm sorry for missing these important features, I'll try my best to fix it ASAP.
Thank you for the interest and reminding.

[2015-07-29 02:08] #4 closed

[2015-07-29 02:11] #5 closed

[2015-07-29 03:46] apolkingg8 opened #6 "[MKTextField] lost focus when component rerender."
Thanks for your quick fix :zap: , but I found another issue about TextFiled events.

I did something like this:
[code]
but when I triggered `onFocus` and ran into `setState` => `render` flow, the `TextFiled` lost focus and triggered `onBlur`. That not happened with `RN.TextInput `. Any ideal about that?

[2015-07-29 07:28] xinthink commented on #6
Hi @apolkingg8, can you post the complete code here?
It seems like I'm not reproducing the problem.

![textfield-events](https://cloud.githubusercontent.com/assets/390805/8951949/26faa4fe-3605-11e5-933c-980aa8ceba6d.gif)

[code]

[2015-07-30 00:12] psbanka commented on #4
Awesome! Thanks so much for your quick response!

[2015-07-30 01:01] apolkingg8 commented on #6
Hi @xinthink, sorry the complete code is hard to split, but I found something maybe cause my issue.
[code]
[code]
I don' know why but it seams only happened when using build method like `new MKTextField.textfieldWithRippleAndFloatingLabel()`, maybe I missed something about lifecycle?

[2015-07-30 01:20] #6 closed

[2015-07-30 01:39] xinthink commented on #6
The latest commit 16c82b6 will allow tags made by builder to accept properties, you may want to give it a shot. But it's not pushed to npm yet, you may have to checkout the master branch.

It allows:
[code]

And I apologize for the bad idea to build components inside the render method, because the component will be built again whenever the render method is called. I've already refactor the example

[2015-07-30 01:44] apolkingg8 commented on #6
Awesome! :beers:

[2015-07-31 13:36] xinthink commented on #1
Switches written in pure jsx
![js-switch-mdl](https://cloud.githubusercontent.com/assets/390805/9008325/08aa3776-37cc-11e5-825b-298585917055.gif)

[2015-08-02 17:28] ethandt92 opened #7 "0.9.0-rc fails"
You are probably aware of this change.

https://github.com/facebook/react-native/commit/961c1eb42904a4d5516fd7939ba14bc0625309d3

0.9.0-rc adds event counts so RCT_TEXT_EVENT_HANDLER needs to include eventCount

[2015-08-03 00:50] xinthink commented on #7
Thank you pointed out this.
I'm not moving to RN 0.9 yet, but I will deal with it as soon as possible.

[2015-08-05 04:53] #7 closed

[2015-08-05 12:46] xinthink commented on #1
jsx textfields
![js-textfield-mdl](https://cloud.githubusercontent.com/assets/390805/9085678/8280484a-3bb1-11e5-9354-a244b0520736.gif)

[2015-08-10 00:43] cmunson opened #8 "[Question] - Focus on a textfieldWithFloatingLabel"
Is there a way to set the focus to a textfieldWithFloatingLabel? Similar to React Native TextInput with a ref and then using this.refs.InputName.focus().

[2015-08-11 12:41] xinthink commented on #8
Thank you for reporting, I'll look into it.

[2015-08-12 15:05] #8 closed

[2015-08-15 11:54] xinthink commented on #1
![progress-mdl](https://cloud.githubusercontent.com/assets/390805/9288698/01e31432-4387-11e5-98e5-85b18471baeb.gif)
![spinner-mdl](https://cloud.githubusercontent.com/assets/390805/9288699/01e3573a-4387-11e5-8f7b-6c34066846fe.gif)

[2015-08-25 11:41] xinthink opened #9 "[Feature] MDL Slider"
Implement [MDL Slider](http://www.getmdl.io/components/index.html#sliders-section) component.

[2015-08-25 15:48] almost opened #11 "Spinner component looks up InteractionManager"
While the Spinner component is shown nothing scheduled via InteractionManager will run. Since it's sensible to wrap loading code in InteractionManager this is a bit of a problem!

I feel like this is more of a problem with Animated than with React Native Material Kit so I've created an issue on the React Native issue tracker also:

https://github.com/facebook/react-native/issues/2434

I thought it

[2015-08-26 02:03] xinthink commented on #11
Thanks a lot! I’ll look into it.

[2015-08-27 16:10] RWOverdijk opened #12 "[Feature] Cards"
Question, and maybe a dumb one..

It looks like both this repo and MaterialKit don't implement cards or lists. Is there a reason for this? Is there something out there for this?

Thanks :)

[2015-08-28 07:09] xinthink commented on #12
Hi @RWOverdijk,
Cards and Lists are on the roadmap of RNMK. But the tasks are not started yet.

It'll be amazing if you can help me out with some PRs!

[2015-08-28 08:00] RWOverdijk commented on #12
@xinthink I'd love to, but I'm not sure I can. I'm having trouble with boxShadow, mainly. But I'd be willing to try... And even then, my Objective-C is _so-so_

[2015-09-01 09:27] codepreneur opened #13 "MKButton, MKIconToggle and MKSwitch does not exist"
I just installed material kit on a fresh react-native project (react-native-cli 0.1.4)

[code]

and I get these warnings:

[code]

![image](https://cloud.githubusercontent.com/assets/3421858/9600636/0f5a50c0-5094-11e5-912b-9e9c0e43f1bd.png)

[2015-09-03 00:03] xinthink commented on #13
Hi @codepreneur, sorry for replying late.
I tested with RN 0.10.1 and it works fine. It seems like you forgot to link `libRCTMaterialKit.a`.
Please follow the [Guide](https://github.com/xinthink/react-native-material-kit#getting-started) and try the example code.

[2015-09-04 14:14] xinthink commented on #1
jsx slider
![js-slider-mdl](https://cloud.githubusercontent.com/assets/390805/9685661/44260e64-5352-11e5-9fea-0a8aecc07de2.gif)

[2015-09-04 15:28] xinthink commented on #9
close via ab710c1

[2015-09-04 15:28] #9 closed

[2015-09-04 23:00] xinthink commented on #13
Hi @codepreneur,
I'm going to close this issue, if it still exists, please let me know by a reopening.

[2015-09-04 23:00] #13 closed

[2015-09-11 12:19] mschipperheyn opened #14 "Question: is there also a floatedlabel textarea field?"
Is there also a floatedlabel textarea field?

[2015-09-11 23:49] xinthink commented on #14
`mdl.Textfield` has a `floatingLabelEnabled` prop, set to `true` if you want the floating effect.

[2015-09-12 09:43] Sherlock92 commented on #3
Can we have more documentation on the standard configuration object style ? I think patterns like the builder pattern are more useful in statically typed languages.

[2015-09-12 09:59] Sherlock92 commented on #14
Thanks! Is there a way to set a different color for the label and the underline. I think `tintColor` applies to both currently ? Unfortunately when I apply `tintColor={'#9B9AAE'}` only the underline is changing :(

[2015-09-12 10:06] xinthink commented on #3
hi @Sherlock92, maybe you're right about builder, but it's not mandatory, like I said, you're free to use React-style props.
About documents, how do u think about [the annotated source](http://www.xinthink.com/react-native-material-kit/docs/Lib/mdl/Textfield.html#props)?

[2015-09-12 10:19] xinthink commented on #14
underline has two colors, `tintColor` for the blurred underline and palceholder text, and `highlightColor` for the focused underline and floating label

please refer to http://www.xinthink.com/react-native-material-kit/docs/Lib/mdl/Textfield.html#props

[2015-09-12 10:20] Sherlock92 commented on #3
@xinthink great, I somehow missed these docs. Thanks so much!

[2015-09-13 04:48] clintandrewhall opened #15 "get/set makes mdl components incompatible with Webpack/hot load"
I've been using this library, but as of 0.1.9, the modules will not load without changing the get/set method of Progress, Slider and Spinner to pure methods.

I have confirmed that changing these to plain functions resolve the issues.  I'll send a PR shortly.  Thanks!

[2015-09-13 04:56] clintandrewhall commented on #15
Created simple PRs #16 and #17 to address the issue.

[2015-09-13 09:44] xinthink commented on #15
hi @clintandrewhall, thanks for using.

Which version of RN you're using?

[2015-09-13 21:27] clintandrewhall commented on #15
I'm using v0.8.0, but I'll test with a later version to be sure.  I'm fairly certain this is an issue related to the webpack hot loader, but I'll confirm and get back to you.

[2015-09-13 21:34] clintandrewhall commented on #15
Confirmed: still an issue with 0.10.1

[2015-09-13 23:12] clintandrewhall opened #18 "Source directory makes installing from github not possible"
NPM assumes that the root directory contains the package.  With the npm package within the 'Source' directory, it cannot be installed directly from github.  In my case, I want to install my branch while #15 is being considered, but can't.

Please reconsider the directory structure? :-)

[2015-09-14 01:49] xinthink commented on #18
Yes, you're right.
Looks like the example app should be moved to a stand-alone repo.
Thanks for the advice!

[2015-09-14 02:09] xinthink commented on #15
But it's working fine on my Mac, with both RN 0.8 and 0.10, is it an issue of Babel transformer?

I prefer a property to a method, maybe using `Object.define` is better way, what do u think?

[2015-09-14 15:54] xinthink commented on #15
Sorry, I meant `defineProperty`, like this:

[code]

@clintandrewhall I'd like to know whether it can fix the problem?

[2015-09-14 15:56] #14 closed

[2015-09-14 15:57] mschipperheyn commented on #14
So, multiline is possible with TextField?

[2015-09-14 16:01] xinthink commented on #14
mdl.Textfield is a wrapper of RN.TextInput, so multi-line text should also be supported, but it’s not tested

—
Sent from Mailbox

On Mon, Sep 14, 2015 at 11:58 PM, mschipperheyn <notifications@github.com>
wrote:

[2015-09-14 16:14] xinthink commented on #14
@mschipperheyn If found bugs of multiline or anything else, please open an issue.

[2015-09-19 02:00] xinthink commented on #18
hi @clintandrewhall
package.json is moved to the root dir now

[2015-09-19 02:00] #18 closed

[2015-09-22 16:35] zth opened #19 "React Native Android?"
Hi!
How would one go about installing this for React Native Android? Is it supported? Perhaps a silly question since it's material design, but it'd be nice to be able to use this for a consistent app look on both platforms.

[2015-09-23 06:32] xinthink commented on #19
Yes, I've been working on the Android version in the past few days. For compatibility (with devices before Lollipop) reasons, it will not provide a ***native*** material design styled look and feel, the JSX implements will be used, so it'll has a consistent looks and feel across platforms.

[2015-09-23 08:01] zth commented on #19
Ahh, that sounds great! Do you mean native look and feel as in it won't be using native elements, or as in that the implementation of the elements will be in pure JS and thus differ some from the native elements because of that?

Thanks for looking into it, looking forward to making this project a standard component in all of my projects. Cheers!

[2015-09-23 08:47] xinthink commented on #19
It'll be in pure (or almost) JS, may has some differences from the Android native components.
Can't wait to see your apps built with RNMK! :beer:

[2015-09-23 09:33] zth commented on #19
Let me know if you need any help testing! :) Thanks for all of your work and making it open source.

[2015-09-23 10:11] xinthink commented on #19
Thanks a lot!

[2015-09-24 12:51] tschnoelzer opened #21 "Floating Action Button / Menu"
Hi Team,

are there any plans to integrate FAB buttons / menus.
They are getting more and more relevant.

Best
Timo

[2015-09-25 02:04] xinthink commented on #21
There's not planned yet, but I'll try to implement as many components as possible. And also, contributions are welcome.

[2015-09-26 14:46] #15 closed

[2015-09-26 14:53] xinthink commented on #15
hi @clintandrewhall
I've changed to use `Object.defineProperty`, pushed to master.
Would you mind giving it a shot? Please let me know if the problem remains.

[2015-09-27 07:01] zsxsoft commented on #19
Is it support Android now? I cloned the project and copied them to ``node_modules`` just now, and the version was 0.2.0-SNAPSHOT
It seems not work..
![qq 20150927145945](https://cloud.githubusercontent.com/assets/2398785/10121631/78c51cd6-6528-11e5-89b4-8c2d21239cf5.png)

[2015-09-27 08:11] xinthink commented on #19
Not yet, I'm still working on it. It's a bit harder than expected.
It's a little buggy at this early stage of RN for Android, and there's some different behaviors between the two platforms.

[2015-09-27 10:39] tschnoelzer commented on #21
Just improving some basic knowledge, so when more familiar, will have a look. good work btw! appreciate!

[2015-09-27 14:45] xinthink commented on #1
jsx sliders work on both iOS and Android
 ![js-slider-mdl](https://cloud.githubusercontent.com/assets/390805/10123318/6c502e6e-6569-11e5-924a-62c8b850511c.gif)

[2015-09-27 15:22] zsxsoft commented on #19
_ (:з」∠)_ I can imagine it.. Good luck to you. By the way, I can't get that why Facebook not(or refuse?)  to provide a <Button> for either iOS nor Android..

[2015-10-01 10:08] Crash-- opened #24 "[Ripple] this refs.node.measure is not a function"
I'm currently implementing some inputs like Radio or Checkbox and I'm trying to use your Ripple component but I got an error...

![capture d ecran 2015-10-01 a 12 03 53](https://cloud.githubusercontent.com/assets/1107936/10218079/7fac5dd4-6834-11e5-87c5-ea73a32069bb.png)

Here is my render function :
[code]

And here is the result of a console.log(this.refs.node) in MKTouchable file.

![capture d

[2015-10-01 11:26] Crash-- opened #25 "[Feature] Slider with two values"
In my use case of a slider, I need to be able to select an interval between 2 values (range of values). I tried to implement it, but didn't figured out how to do that.

If someone else want to look at this; you'll be more than welcome ;)

[2015-10-01 17:49] xinthink commented on #24
Would you please try to add a null-check like what it does in #10, I don't know if it's the same problem.
`Ripple` also used to built `Button`, should work fine in most case.

[2015-10-01 17:51] xinthink commented on #25
What will it look like? Could you post a demo, or specification here?

[2015-10-01 18:38] Crash-- commented on #24
I already tried that, but I did it again.

I put this into MKTouchable.js

[code]

But I have container.measure is not a function.

So the container is not null but it has not any measure function. Weird :/

[2015-10-01 20:30] Crash-- commented on #25
Something like https://github.com/Wildhoney/ngRangeSlider but based on your slider would be great!

The idea is to allow select an interval with :
- Min value
- Max value
- "step value" (i.e. the value to increment / decrement during each move)

[2015-10-01 23:47] xinthink commented on #24
`MKTouchable` is calling `measure` on a native component, what version of RN are you using?
`Ripple` is used in `Button` as well, does it work?

[2015-10-02 09:25] Crash-- commented on #24
I'm using RN 0.11.4 and... Button as not working neither! I got the same error.
Just upgrading to 0.12.0-rc and... same result.

I'll clean all the mess I've done and restart a new project to see if the error is still there.

[2015-10-02 13:40] xinthink commented on #24
I'm thinking about replacing `measure` with `onLayout`, not just because this issue, but also the strange behavior of RN Android processing `borderRadius`

[2015-10-03 11:45] xinthink commented on #1
![2015-10-03 7 44 23](https://cloud.githubusercontent.com/assets/390805/10262736/4411994a-6a07-11e5-8a72-b7a46ba5e4a9.png)

[2015-10-04 07:03] Icemic opened #26 "MKButton: onLayout event reset the value of ripple offset"
hello,
I tried to add a MKButton in Android5.1 like this
[code]

when i touched the button(not in center), at first the offset is right, but at the next tick, the offset turned to center point.

after debug, i found that when the animation playing, onLayout event was emitted, and execute `this._calcLayers(width / 2, height / 2, width, height)`(mdl/Ripple.js line72), so offset was reset.

Is it a b

[2015-10-04 07:16] Icemic commented on #26
And my solution is edit `_onLayout(evt)` function (line60)
from
[code]

to
[code]

[2015-10-04 07:48] xinthink commented on #26
Thanks for reporting, it's indeed a bug.

[2015-10-04 08:48] #26 closed

[2015-10-06 00:25] pasviegas opened #27 "Create a podspec"
Would be really nice to have a podspec the same way react-native-fbsdk (https://github.com/facebook/react-native-fbsdk/blob/master/react-native-fbsdklogin/react-native-fbsdklogin.podspec) does.

To install the project in an IOS app with cocoapods woud be as simple as:
[code]

[2015-10-06 01:37] xinthink commented on #27
Thanks for the advice. Will look into it.

[2015-10-06 08:45] xinthink commented on #1
spinner animation sucks on Android

Android 5.1
![js-spinner-android-5](https://cloud.githubusercontent.com/assets/390805/10303891/4af002bc-6c49-11e5-91b2-fa357c0c44d5.gif)

Even worse on Android 4
![js-spinner-android-4](https://cloud.githubusercontent.com/assets/390805/10303922/70d98624-6c49-11e5-9d6d-3ea20aca4919.gif)

[2015-10-07 02:34] pasviegas commented on #27
If you want I could do a PR :)

[2015-10-07 02:39] xinthink commented on #27
Sure, thank you!

[2015-10-07 12:58] #27 closed

[2015-10-08 13:03] pasviegas opened #29 "Publish lastest version"
Hey xinthink can you publish the latest version with the podspec so I can start using it from the npm registry in one of my projects?

Thanks again

[2015-10-08 13:16] xinthink commented on #29
I'd like to publish the next version with fully android support, and I'm very close to finish it, 1~2 days should be sufficient.

[2015-10-08 23:51] ChitaGideon opened #30 "Build failed with an exception"
I try to follow the guide add RNMK in my Android project  .
Build failed with an exception
[code]

this is may settings.gradle
[code]

Is there anything I miss?
I install the package from the git

[2015-10-09 00:59] xinthink commented on #30
Which version of Java are you using? `toPath` needs Java 7+

[2015-10-09 01:37] xinthink commented on #30
If your Rnmk is not a symbolic link (local module installed with `npm link`), you can ignore the `resolve` step, just use `file`. I'll update the doc.
But to compile the lib, Jdk 7+ is still required.

[2015-10-09 11:30] adamrainsby opened #31 "Warning: Failed propType: typeChecker is not a function"
I'm getting this error from the AccentColoredFab component

This is how I used it.

[code]

and in render
[code]

[2015-10-10 03:04] kinhunt opened #32 "Doesn't work with RN 0.12"
Red screen with this error:

Expected dynamic type `int64`, but had type `string`

[2015-10-10 14:50] JonnyBGod commented on #32
Same problem.

<img width="373" alt="screenshot 2015-10-10 15 49 12" src="https://cloud.githubusercontent.com/assets/405206/10411709/835978f2-6f66-11e5-9929-cf7474dca36e.png">

[code]

[code]

[2015-10-10 15:41] xinthink commented on #32
fixed in v0.2.0

[2015-10-10 15:41] #32 closed

[2015-10-10 15:41] xinthink commented on #12
fixed in v0.2.0

[2015-10-10 15:41] #12 closed

[2015-10-10 15:43] xinthink commented on #31
This warning from `MKButton` should be fixed in v0.2.0

But still exists in `Cards` and `Textfield`, will keep track of it

[2015-10-10 15:45] xinthink commented on #30
hi @ChitaGideon, is the problem fixed?

[2015-10-10 15:45] xinthink commented on #24
should be fixed in v0.2.0 just released, changed to `onLayout` callbacks

[2015-10-10 15:45] #24 closed

[2015-10-10 15:46] xinthink commented on #19
fixed in v0.2.0 just released

[2015-10-10 15:46] #19 closed

[2015-10-10 15:47] xinthink commented on #29
v0.2.0 is just released

[2015-10-10 15:47] #29 closed

[2015-10-10 17:51] ChitaGideon commented on #30
@xinthink  yes！ After I got your message ,I updated java and everything is ok~

thanks for your wonderful suggestion!

[2015-10-10 23:07] adamrainsby commented on #31
Thanks. :smile:

[2015-10-11 00:11] #30 closed

[2015-10-12 00:10] xinthink opened #33 "[Feature] Layouts"
Investigating:
- [MDL layouts](http://www.getmdl.io/components/index.html#layout-section)
- [Scrolling effects](https://guides.codepath.com/android/Handling-Scrolls-with-CoordinatorLayout)

Planning to implement some of them, on both platforms, if possible.

[2015-10-12 00:19] xinthink opened #34 "[Feature] Checkbox & Radio Button"
http://www.getmdl.io/components/index.html#toggles-section

[2015-10-12 15:08] pasviegas commented on #29
Awesome! Thanks! :D

[2015-10-12 16:38] pasviegas opened #35 "build.gradle from npm has wrong dependencies"
If I do 'npm install react-native-material-kit', I get the following on build.gradle:

[code]
But I see that in the repo it is correct:
[code]
Thanks

[2015-10-12 22:44] xinthink commented on #35
Sorry about the mistake, npm publish my local copy of the file. Will fix it ASAP

[2015-10-13 01:00] xinthink commented on #1
MDL Radio Buttons
![js-radio-mdl](https://cloud.githubusercontent.com/assets/390805/10442805/bdb08bc0-7188-11e5-8565-4ee0049ad590.gif)

[2015-10-13 01:19] xinthink commented on #35
just published a  [v0.2.1](https://github.com/xinthink/react-native-material-kit/releases/tag/v0.2.1) to fix it

[2015-10-13 01:19] #35 closed

[2015-10-13 01:20] xinthink commented on #34
Radio Button done f2f19dc

[2015-10-13 05:58] Crash-- commented on #34
Great work!

[2015-10-13 09:31] Crash-- commented on #31
@xinthink How do you solved this issue for MKButton?

[2015-10-13 09:46] xinthink commented on #31
By removing built-in property declarations like `shadowColor`

the declaration of `MKPropTypes.font` causes the problem in `Textfield`, don't know why yet

[2015-10-14 15:23] ChitaGideon opened #36 "how to access the value of textfield"
I try to use textfield  and want to get the value
some part of the code
[code]

onChangeText works fine.

`this.refs.nameText.value`  is `undefined` anyway.

[2015-10-14 15:44] Crash-- commented on #36
You can use the state of your component :

[code]

[2015-10-14 15:50] mschipperheyn opened #37 "Default focused underline Textfield should be 2px"
Love the work! A minor niggle. The default size for a *focused* textfield underline is 2px.

[2015-10-14 20:29] mschipperheyn opened #38 "Checkbox"
I realized that in some situation a toggle is a component that can dominate a form too much if it only references a minor aspect. In such situations, a traditional checkbox would be more appropriate. Are there any plans to implement one?

[2015-10-14 21:09] Crash-- commented on #38
As those ones http://www.getmdl.io/components/index.html#toggles-section/checkbox (see #34) ? Or the default ones displayed by the browser?

[2015-10-14 23:57] xinthink commented on #36
Please refer to https://facebook.github.io/react/docs/forms.html#controlled-components
Looks like using `onChange` is a pattern in React

[2015-10-14 23:57] #36 closed

[2015-10-15 00:01] xinthink commented on #38
@mschipperheyn I think #34 shall fulfill your requirement, as @Crash-- mentioned

[2015-10-15 00:01] #38 closed

[2015-10-15 00:22] pasviegas commented on #35
;)

[2015-10-17 11:26] despairblue opened #39 "Could the default dimensions be removed?"
It makes flexbox styling a little awkward:

[code]

Good job btw! :+1:

[2015-10-17 13:33] despairblue opened #40 "floating label is missing if the textfield is initialised with a value"
Focusing the textfield renders the floating label.

[2015-10-17 13:42] despairblue commented on #40
Mhh, I quickly stepped through it with the debugger, but couldn't figure out why, probably something with `Animated.Text`?

[2015-10-17 16:49] despairblue commented on #31
It should use `PropTypes.shape` instead of `PropTypes.objectOf`. See: https://facebook.github.io/react/docs/reusable-components.html

[2015-10-18 00:44] xinthink commented on #40
Thanks for reporting

[2015-10-18 00:46] xinthink commented on #39
Sure, I'll remove it.

[2015-10-18 03:45] xinthink commented on #39
It seems working fine to put Textfields inside a horizontal box, even with default dimensions

        <View style={{
            flexDirection: 'row',
          }}

          <MKTextField
            floatingLabelEnabled={true}
            placeholder="hello"
            style={{
              flex: 1,
            }}
          />
        </View>

In contrast, without default dimensions, you will

[2015-10-18 03:54] xinthink commented on #40
Would you please post the code reproducing the problem?
I have an initial value example in the demo app which is working fine.

[2015-10-18 13:24] RWOverdijk commented on #12
Cool :) Thank you!

[2015-10-18 14:55] despairblue commented on #40
It seems the floating label is not rerendered when the `value` is changed by the means of `setState`:

[code]

[2015-10-18 15:37] despairblue commented on #39
Probably it should behave like the `TextInput` component:

* parent: `{flexDirection: 'column'}`:
  * it needs a height
  * grows to screen width by default
  * MKTextField needs `{width: undefined}` do behave like that

* parent: `{flexDirection: 'row'}`:
  * it needs a height
  * it needs a width
  * MKTextField has the defaults set, so needs neither (it could be argued that `TextInput`' behavio

[2015-10-18 19:32] despairblue opened #42 "underline animation stops when focussing a textfield while another textfield has focus inside a scrollview with `keyboardShouldPersistTaps={false}`"
Example to reproduce:

[code]

[This is an issues with react native.](https://github.com/facebook/react-native/issues/2150) Just so you know.

[2015-10-21 19:00] mschipperheyn opened #43 "Icon button"
On Android, when you press the back icon, there is this round click effect. Is there a way to achieve this with this library?

[2015-10-22 10:37] despairblue commented on #31
@xinthink what do you think about the PR?

[2015-10-22 10:56] xinthink commented on #31
Sorry for replying late, I'm a little busy on my full-time job, will look into it ASSP.
And thank you very much for the PR!

[2015-10-22 11:49] mschipperheyn commented on #43
I guess the same question applies to e.g. ContactChips. When I click them I would like to have this round click effect in the background. Maybe the entire Chip should be a button, not sure

[2015-10-22 11:49] mschipperheyn commented on #43
That sounds exactly like what I was looking for!

[2015-10-23 14:12] #31 closed

[2015-10-23 14:39] xinthink commented on #43
As @Crash-- mentioned, you can use the Ripple component, or you can also treat it as an FAB without backgroundColor and shadow:

[code]

[2015-10-23 14:39] #43 closed

[2015-10-24 09:55] xinthink commented on #40
hi @despairblue,
Looks like the Textfield failed to handle the initial state, I'll fix it.

BTW, since [RN v0.9.0](https://github.com/facebook/react-native/releases/tag/v0.9.0-rc), if you want to set the initial value of a TextInput, you'll have to use the `defaultValue` prop instead of `value`, or the TextInput will not accept any new input.

[2015-10-24 13:56] #40 closed

[2015-10-24 15:11] despairblue commented on #40
ah, missed that, I was still doing it with `setState` on every change :sweat_smile:
ty :+1:

[2015-10-24 15:46] #39 closed

[2015-10-24 16:00] xinthink commented on #39
I removed the default dimensions, it now behave like a RN.TextInput.
But there's some subtile behaviors worth notice, I've put comments in the [demo](https://github.com/xinthink/rnmk-demo/blob/master/app/textfields.js)

[2015-10-24 23:08] TiagoGouvea opened #45 "`MKSpinner` has no propType for native prop `MKSpinnner.scaleX`of native type `number`"
Getting this when trying to use it in android.

[2015-10-25 06:49] abasak commented on #45
Seeing the same error too after upgrading react-native to `0.13.1`.

[2015-10-25 13:22] #45 closed

[2015-10-27 01:25] mschipperheyn opened #46 "placeholders weird display"
After upgrading to 0.2.2
<img width="133" alt="screen shot 2015-10-26 at 23 20 57" src="https://cloud.githubusercontent.com/assets/384959/10747125/dfcffafa-7c38-11e5-8f25-e04706fdf655.png">

[2015-10-27 01:35] mschipperheyn opened #47 "When I click a TextField: this._bufferedValue || "").trim is not a function"
When I click a TextField: this._bufferedValue || "").trim is not a function

[2015-10-27 11:55] mschipperheyn commented on #46
Ok, this is because the default styling is removed.
I used this to have a textfield that stretched to the size of the panel

    <View style={{flex:1,flexDirection:'row'}}>
        <MKTextField
          floatingLabelEnabled = {this.props.floatingLabel}
           style={{flex:1,flexDirection:'column'}}
          {...this.props}
          />
      </View>

This now produces the destroyed UI as in

[2015-10-27 12:04] Crash-- commented on #46
Does #39 and its comments can help you?

[2015-10-27 12:56] mschipperheyn commented on #46
Not quickly, but I will prob figure it out. I'm blocked at https://github.com/xinthink/react-native-material-kit/issues/47 now. So this is priority

[2015-10-27 13:31] mschipperheyn commented on #47
Since _bufferedValue is a syntheticEvent, I don't see how you could trim it

[2015-10-27 14:26] mschipperheyn commented on #47
Tried react-native 0.13.1 and 0.13.2. Obviously, somewhere the value gets set to the event itself in stead the event payload.

[2015-10-27 14:32] xinthink commented on #46
@mschipperheyn sorry for the breaking change
But as discussed in #39, we think it's import to comply with the behavior of RN.TextInput, so that we can apply the flex-box layout as the same way we do on RN's built-in components.

For the code snippet above, you have to apply a fixed height to the TextField on iOS, this is required for RN.TextInput too, please refer to the example code: https://gith

[2015-10-27 14:35] xinthink commented on #47
Would you mind post the code reproducing the problem here, and the stack trace?

[2015-10-27 14:44] mschipperheyn commented on #47
Sure. Also reproduced this in react-native 0.12

	Error: (this._bufferedValue || "").trim is not a function
	 stack:
	  Textfield._createClass.get                     index.ios.bundle?…:78198
	  Textfield._aniFloatLabel                       index.ios.bundle?…:78068
	  Textfield._createClass.set                     index.ios.bundle?…:78198
	  Textfield.componentWillReceiveProps            index.io

[2015-10-27 14:45] mschipperheyn commented on #47
Hmm, wait a minute, this might be related to me not extracting props?

      <View style={{flex:1,flexDirection:'row'}}>
        <MKTextField
          floatingLabelEnabled = {this.props.floatingLabel}
          {...this.props}
          />
      </View>

[2015-10-27 14:49] mschipperheyn commented on #47
I'm using redux-form with this. It is using it's own event processing on each field, which is part of the props. I have a feeling that maybe it's misbehaving.

[2015-10-27 21:39] mschipperheyn commented on #46
A fixed height?  That sounds crazy. What about growing text boxes. One rule I learned in Web / css: NEVER put fixed width or height unless it absolutely cannot be avoided.

I'm wondering if the original text box looks this wonky without specifying a height. I'm fairly sure it does not.

[2015-10-28 00:04] xinthink commented on #47
Can you print the type of this._bufferedValue? Maybe it not a string?

[2015-10-28 02:10] xinthink commented on #46
You may wrap it in a vertical flex box to avoid fixed height. But it's the layout behavior of RN.TextInput, I don't know if it's a bug.

[2015-10-28 14:22] mschipperheyn commented on #47
https://github.com/erikras/redux-form/issues/181

[2015-10-28 21:54] adambene opened #48 "flatButton: TypeError: expected dynamic type 'int64', but had type 'string'"
The following error is raised when using flatButton on Android: `TypeError: expected dynamic type 'int64', but had type 'string'`.

If I comment out the line containing `withBackgroundColor(...)` in function flatButton() in Button.js it works fine.

This also raises the error: `(new MKButton.Builder()).build()`
This is ok: `(new MKButton.Builder()).withStyle({}).build()`

[2015-10-29 19:28] mschipperheyn commented on #47
This issue was on redux-form side and is fixed

[2015-10-30 02:09] xinthink commented on #47
OK，thanks

[2015-10-30 02:09] #47 closed

[2015-10-31 12:23] xinthink commented on #48
Which version of RN are you using?

Would you please try the demo? https://github.com/xinthink/rnmk-demo/blob/master/app/buttons.js#L52

[2015-11-01 00:20] adambene commented on #48
I am using version 0.2.2.

The demo also throws the same error when choosing Buttons from the starting screen.
The demo installed the same version (0.2.2).

[2015-11-01 03:43] xinthink commented on #48
The demo is working fine on my Mac.
Which version of ReactNative are you using? This is a issue of ReactNative, but should be fixed in RN v0.12.0

[2015-11-01 21:31] adambene commented on #48
I am using ReactNative v0.13.2.

[2015-11-02 17:21] despairblue opened #50 "Merging material designed elements."
It seems that over the last week a lot of [material](https://github.com/aakashns/react-native-dialogs) [designed](https://github.com/mastermoo/react-native-action-button) [components](https://github.com/eyaleizenberg/react-native-floating-label-text-input) appeared.

What about merging those into one library, so that styles and components can be shared and so there is a coherent API?

/cc @aakashn

[2015-11-02 20:36] eyaleizenberg commented on #50
Sure, I can do something. What did you have in mind?

[2015-11-03 08:08] aakashns commented on #50
I'd be happy to help out too.

[2015-11-03 08:29] xinthink commented on #50
You guys are awesome!
Thanks a lot! :beers:

[2015-11-03 18:40] oliviertassinari opened #51 "Browser version"
Hi, I'm one of the maintainers of https://github.com/callemall/material-ui.
I dream in a world where I could use the same components to target `react-dom` (the browser) and `react-native` (iOS and Android).

So, do you think that It could be possible to achieve this?
It would be great if we can find a way to join forces.
I think that we would at least need to share the same API. But since we are u

[2015-11-04 10:53] Crash-- commented on #50
I think it's a pretty good idea!

What we miss in the react-native world, is a good "design" lib that we can start using without to much pain. Merging several libs can be a really good solution to provide a full framework!

But it's also a lot of work to do. Do we need to reimplement all the stuff? Or can we share code between external material ui lib for react-dom?

A first start could be to be a

[2015-11-04 10:54] Crash-- commented on #51
Hi,
See #50, we're currently talking about merging some libs together to create something great for react-native. Your POV could be useful!

[2015-11-04 11:56] despairblue commented on #50
Sure thing, I can make a channel request.

I haven't found the time to think about how to do it exactly yet. It will
probably take a some talking to find a good consensus.

Are you talking about a specific existing material-ui lib? One problem
would be that react-native does not use react 0.14 as of yet. So using
something that depends on react-dom is probably not possible.

On Wed, Nov 4, 2015, 1

[2015-11-04 12:42] Crash-- commented on #50
I made the request to have the channel. I think it will be a good place to discuss about this project.

One of the maintainers (cc @oliviertassinari) of material-ui opened an issue ( #51 ) yesterday to see if we can share some code. I don't know exactly what we can do or can't do between react-dom & react-native, but maybe we can have a common project with "two outputs". One specific to react-dom

[2015-11-04 13:43] oliviertassinari commented on #50
@Crash-- Thanks for introducing me here. As I already presented, I think that it would be awesome if we could use react material components no matter what the rendering platform is.
In order to do so, we could create a new repository using what we learned to do something even better.
We could ask to use `react-material` repository name.

would be that react-native does not use react 0.14 as of yet

[2015-11-04 14:24] xinthink commented on #50
Maybe a Slack channel is suitable for the discussion.
I don't have enough knowledge about react-dom yet. But I think it's difficult to make it working on both web and native, you can see MDL is implemented mostly using CSS, which is not fully available in RN. In contrast, we may have to consider making the most out of the native side,  which is purpose of RN.

[2015-11-04 14:30] xinthink commented on #50
reactiflux is OK, sorry for missing this part

[2015-11-04 14:57] aakashns commented on #50
I recently wrote an article about sharing components and business logic between React and React Native: https://medium.com/@aakashns/sharing-components-between-react-and-react-native-f6ce3713658a

The gist of the article is that you can wrap the platform-independent stuff in a function takes `React` as an argument :
[code]
Inside you have a normal react component class, except that it doesn't rend

[2015-11-04 15:29] xinthink commented on #50
Cool, thanks @aakashns

[2015-11-04 20:15] Crash-- commented on #50
I think, as @aakashns mentioned, we can share common code. We just need to think about how dealing with RMNK's native code.

The channel #react-native-material-kit has been created on reactiflux. To join : http://www.reactiflux.com/

[2015-11-06 15:26] sooth-sayer opened #52 "[Slider] improve responsiveness"
I see two issues using Slider.
1. During touch Thumb does follow my finger with some lag.
2. When I move finger outside slider during touch Thumb stop to respond. (https://www.dropbox.com/s/iwb5utzxu9jw7b3/VID_20151106_182304.mp4?dl=0)

I can fix it using standard PanResponder (http://facebook.github.io/react-native/docs/panresponder.html). Will you merge such pull request?

[2015-11-07 23:24] HarrisRobin opened #53 ""Warning: Native component for "MKTouchable" does not exist""
Hi!

For some reason, whenever I try to use any of the buttons I get the following error on the console and touch events aren't triggered.

[code]
I am using react-native 0.14.1 and react-native-material-kit 0.2.2
Anyone else running into this issue?

Thanks :)

[2015-11-08 04:01] xinthink commented on #53
Did you link the lib to your project following [the guide](https://github.com/xinthink/react-native-material-kit#getting-started)?

[2015-11-08 09:41] xinthink commented on #52
Sure, PRs are always welcome
And apologize for replying late

[2015-11-09 23:19] #52 closed

[2015-11-11 08:14] despairblue commented on #50
Sorry, for the silence, I've a lot to do right now.

Going @aakashns' direction, we would wrap the react-native and react-dom code in a component that requires the respective code based on `React.Platform`:

[code]

Props would be passed straight to the underlying component. And while the APIs converge, more and more code could be pulled into the wrapper. Also probably all style options that are p

[2015-11-14 01:12] xinthink commented on #50
Hi all,
I'm going to write a demo will work on all three platforms, to figure out how to organize the code, and dive a bit into react-dom. If someone already has such a repo, please let me know.

and I think if we can finally achieve a platform-independent one, the name 'react-native-xxx' will not be proper anymore, so we'd better give it a new name.

[2015-11-14 01:24] oliviertassinari commented on #50
I'm looking forward to see the demo!

[2015-11-14 05:54] hendrikswan commented on #50
Maybe this repo? https://github.com/benoitvallon/react-native-nw-react-calculator

[2015-11-14 07:47] xinthink commented on #50
Thanks @hendrikswan, it's very helpful!

[2015-11-20 22:04] jaynsw opened #56 "invoke 'undefined' object measure function in Textfield.js"
This happens when the current page quick unmounted. The code should be changed more defensive.

_doMeasurement() {
    if (this.refs.input) {
      this.refs.input.measure(this._onInputMeasured.bind(this));
      if (this.props.floatingLabelEnabled) {
        this.refs.floatingLabel.measure(this._onLabelMeasured.bind(this));
      }
    }
  }

[2015-11-20 22:08] jaynsw opened #57 "_onLayout function in Button.js never been callback (from Ripple.js)"
I made a break point in the _onLayout function in the Button.js. I found it is not been callback ever.

I checked the props from the constructor function from Ripple. The onLayout prop is undefined.

[2015-11-21 11:07] linonetwo opened #58 "npm WARN install Couldn't install optional dependency: Unsupported"
$ npm i -S react-native-material-kit
npm WARN install Couldn't install optional dependency: Unsupported
aaa@0.0.1 /home/aaa/ReactNative/aaa
└── react-native-material-kit@0.2.2

Does that matter?

[2015-11-21 22:14] nodkrot opened #59 "How to increase size?"
`.withFontSize(44)` and `style={{ fontSize: 44 }}` don't work

im using this constructor `MKTextField.textfield()`

[2015-11-21 22:20] #59 closed

[2015-11-21 22:20] nodkrot commented on #59
I was using `.withStyle(styles.x)` instead of `. withTextInputStyle(styles.x)`

[2015-11-21 22:47] nodkrot opened #60 "How to get value from the input?"

[2015-11-21 22:52] #60 closed

[2015-11-22 12:53] Crash-- commented on #56
Hi,

Could you make a PR with a more defensive code?

[2015-11-22 22:29] kkgelu opened #61 "RadioButton: how to change the color of the innerCircle?"
[code]
It looks that I can't have another color for the background of the innerCircle.

[2015-11-24 13:51] xinthink commented on #61
Sorry about the hard coding, I'll make it more customizable in the next release.
Thank you for reporting.

[2015-11-24 13:59] xinthink commented on #58
hi @lineves, did you figure it out?

[2015-11-24 14:01] xinthink commented on #53
hi @HarrisRobin, did the problem fixed?

[2015-11-24 14:05] xinthink commented on #56
looks like I should refactor all the `onMeasurement` stuff, or switch to `onLayout`

[2015-11-24 14:28] xinthink commented on #57
looks like it's conflicts with the built-in `onLayout` prop, renaming can make it works

[2015-11-24 14:56] HarrisRobin commented on #53
@xinthink sorry for the late reply. Let me try again tonight after work and get back to you!

[2015-11-24 23:02] mikedizon commented on #56
+1

[2015-11-24 23:32] lineves commented on #58
no, I can use components without error, seems it doesn't matter, some other thins from npm show the same warning.

[2015-11-26 19:42] HarrisRobin commented on #53
@xinthink i never understood the root cause of this, but from a fresh project and following the guide again it seems to work now. I will re-open if i understand what caused it in the first place!

[2015-11-26 19:42] #53 closed

[2015-11-27 01:06] xinthink commented on #53
thanks @HarrisRobin

[2015-11-28 02:35] kristian-puccio commented on #3
It would be great to able to combine the approaches. So use the builder pattern to configure widgets that you will use then be able to customise them at runtime using props. I know you can do this with some props but not all.

Specifically Text doesn't work, I'm not sure about other props yet.

[2015-11-29 07:46] xinthink commented on #58
@linonetwo I'm going to close the issue, cause RNMK doesn't depend on any library other than RN

[2015-11-29 07:46] #58 closed

[2015-12-03 20:09] peterlazar1993 commented on #56
+1 @mikedizon fix worked for me.

[2015-12-04 14:30] oliviertassinari commented on #50
Their another popular react-native implementation https://github.com/binggg/mrn.

[2015-12-05 03:39] xinthink commented on #50
oh, it looks very good

[2015-12-05 07:08] #57 closed

[2015-12-05 07:11] #56 closed

[2015-12-05 11:46] #61 closed

[2015-12-06 21:58] kkgelu commented on #61
Thanks man!

[2015-12-09 22:35] Gattermeier opened #63 "MKCardStyles returns Object with numbers?"
Peculiar. MKCardStyles returns an object with properties containing numbers rather than style objects?

Object {card: 106, image: 107, title: 108, content: 109, action: 110…}

I am logging like this:

[code]

Thoughts? Ideas?

[2015-12-10 09:56] Crash-- commented on #63
I think it's the default behavior of React Native. If you take a look at the React Dev Tool when debugging an app, you'll see, at the first place, number instead of style object.

What are you trying to do with logging MKCardStyles? If you want to see the Style object, you can find it here: https://github.com/xinthink/react-native-material-kit/blob/master/lib/mdl/cards/styles.js

[2015-12-10 16:17] Gattermeier commented on #63
I see, I was just confused. And the styles in large parts don't work with Android (yet) that's why I thought there might be a weird bug.

[2015-12-10 16:50] Crash-- commented on #63
Oh well, I didn't try with Android. Are you fixing the issues? If not I can take a look in a few days.

[2015-12-11 14:25] xinthink commented on #63
hi @Gattermeier,
Like @Crash-- said, that's how RN StyleSheet works, we can only retrieve the style IDs from the StyleSheetRegistry so far, not the style object.

Can you specify the problem on Android? And would you mind post the code here, or a demo on rnplay.org to reproduce the problem?

It seems working fine on my Genymotion emulator.

[2015-12-11 19:31] ourway commented on #53
I have this issue, on Android and react-native 1.7.   I tried everything without success

[2015-12-13 06:53] xinthink commented on #53
Just tested on RN 0.17.0-rc, it's working fine for me both on iOS and Android.

Please make sure the library is linked to your project (follow the [Getting started guide](https://github.com/xinthink/react-native-material-kit#getting-started))

For android projects, besides the dependency declaration in the gradle build file, you'll also have to register the instance of `ReactMaterialKitPackage` to

[2015-12-13 23:45] apoeco opened #64 "Radio Buttons not working if more than two. Max Call Stack Error"
I'm not sure if i have done everything right but these are my steps:
[code]

When I check Label2 radio button I get  ```Maximum call stack size exceeded```

I think the problem is that we ran into an infinite loop between ```confirmToggle()``` and ```this.group.onCheck(this,newState)```

[2015-12-14 01:21] xinthink commented on #64
Thanks for reporting and the PR, I'll look into it.

[2015-12-19 04:53] kristian-puccio opened #66 "MKTextField onBlur isn't bubbling up the event object."
When I add an onBlur function to MKTextField the event object isn't being passed to my function.

I'm pretty sure it's to do with this line: https://github.com/xinthink/react-native-material-kit/blob/9466ad5b35fd018bdd3e0e6ecdb748ff1c3e7b00/lib/mdl/Textfield.js#L428

I'll create a pull request to fix this.

[2015-12-19 05:02] kristian-puccio commented on #66
#67

[2015-12-20 00:34] Alex-iFactory opened #68 "Text and Password inputs hold different default styles"
Hi mate,

I built two elements:

[code]

which are laid out as follows:

[code]

But end up getting the following in my render:

![image](https://cloud.githubusercontent.com/assets/5687739/11915877/48eb903e-a705-11e5-9aff-b918f1110d02.png)

[2015-12-20 07:14] xinthink commented on #64
PR #65 fixed it.
Thanks @apoeco,

[2015-12-20 07:14] #64 closed

[2015-12-20 07:25] xinthink commented on #66
thanks @kristian-puccio, but why do you need an object on the blur event? it seems to be a pretty simple state.

[2015-12-20 07:33] xinthink commented on #68
hi @Alex-iFactory , did you mean the different font of the password hint text?

Unfortunately, it's the default behavior of Android native EditText component. Please refer to http://stackoverflow.com/questions/3406534/password-hint-font-in-android

[2015-12-20 22:30] kristian-puccio commented on #66
I use it with redux-form and thats the way that library works, it extracts
the value from there.

Plus I think a few other things, like what type of widget generated the
event.

On 20 December 2015 at 18:25, Yingxin Wu <notifications@github.com> wrote:

[2015-12-21 00:29] Alex-iFactory commented on #68
@xinthink thats right,

Would it not make sense to set the default typeface on textPassword elements? Or would this conflict somehow.

Cheers

[2015-12-21 01:46] xinthink commented on #66
OK, I'll merge the PR, thanks again!

[2015-12-21 10:57] Bhullnatik opened #69 "[Crash] Spinner - "Underflow in restore - more restores than saves""
Hi,
I've got a crash using react-native-material-kit 0.2.4, Android 6.0 and React-Native 0.17.+

I use a spinner in my app to display while I fetch data from a remote server, and I immediately get this error:
[code]

The problem appears to come from [MKSpinner.java#L321](https://github.com/xinthink/react-native-material-kit/blob/master/android/src/main/java/com/github/xinthink/rnmk/widget/MKSpinne

[2015-12-26 19:42] reneklacan opened #70 "Cards in columns?"
Hi, maybe it's stupid question but is there a way to put two cards next to each other? tried to `container ->  row -> col -> card` hierarchy but it's not working

[2015-12-26 21:04] #70 closed

[2015-12-27 02:39] #66 closed

[2015-12-27 07:55] xinthink commented on #1
MDL Checkbox
![mdl-checkbox](https://cloud.githubusercontent.com/assets/390805/12009445/0f938cee-acb2-11e5-9732-434382f6cd84.gif)

[2015-12-27 08:00] #34 closed

[2015-12-27 08:37] xinthink commented on #69
Hi @Bhullnatik,
Thank you very much for reporting!
And sorry for replying late, I'll check this out ASAP.

[2015-12-27 09:09] xinthink commented on #68
As mentioned in [this answer](http://stackoverflow.com/a/3444882/679563), it needs works on the native side.
The problem is there no way to access custom font setting from StyleSheet (it just return an id), so it may need a dedicated prop for `hintFont`, and it better also works on iOS.

I'll dig into it later, and any forms of contribution is welcome :beer:

[2015-12-28 01:07] xinthink commented on #69
Hi @Bhullnatik, can you post the code reproducing the problem here?

I tried [my spinner demo](https://github.com/xinthink/rnmk-demo/blob/master/app/progress.js) on both Genymotion emulator & physical device with Android 6.x, but it's not crashing.

[2015-12-28 18:59] Bhullnatik commented on #69
Hi @xinthink, thanks for your answer.
I tried the spinner demo on emulator 6.0 and it worked fine.

The architecture in my app is a bit complicated, but basically I have a `ViewPagerAndroid` with 4 pages who are fetching data from a remote server; they each display a `Spinner` using
[code]
and then importing it in my project.

I tried also to see if the problem was going from the ViewPager and mul

[2015-12-29 02:59] xinthink commented on #69
I think we can apply the approach described in  https://github.com/traex/RippleEffect/issues/74#issuecomment-147937778. Would you please test it on Android 5? So that I can decide which android version should be adapted.

[2015-12-29 12:12] Bhullnatik commented on #69
I wasn't able to replicate the issue on other Android versions, it crashes only on 6.0 (I don't have any other 6.x version to try on). All the other Android versions work great.

[2016-01-02 10:39] shankiesan opened #71 "Debug in Chrome causes UI to become unresponsive in Android"
First, I'd like to say that this is a great project. Really well executed

However, I've got a little bug. I think it's to do with RNMK and not React Native itself as I've only seen this behaviour in projects using RNMK.

If I have RNMK components in my view and enable Debug in Chrome in Android, the UI becomes unresponsive. If I console.log the results of onPress, I will often get the results of

[2016-01-03 06:39] #69 closed

[2016-01-03 07:04] xinthink commented on #71
Hi @shankiesan, thanks for reporting.
Unfortunately, don't have any idea so far. Will keep trying.
How does it work on iOS?

[2016-01-03 17:23] shankiesan commented on #71
Hi @xinthink thanks for getting back to me.

Infuriatingly, since I posted this issue it's starting working again. I'll close the issue for now, but if I encounter it again I'll test the failing code on iOS and report back to this issue.

Cheers

[2016-01-03 17:23] #71 closed

[2016-01-08 07:32] Sexycrets opened #75 "Getting dependency error when installing"
Hi, thank you for this package, the doc is well written too.

I installed it just fine the first time. When I got the "MKTouchable/TickView does not exist" error (https://github.com/xinthink/react-native-material-kit/issues/53) I removed the package and installed it again but is not installing anymore, see output below. Any ideas?

[code]

Same result with ```npm install react-native-material-kit`

[2016-01-08 19:06] kozmk opened #76 "Could not find method compile() for arguments [project ':RNMaterialKit'] on project ':app'"
When I run the command "react-native run-android" :

![image](https://cloud.githubusercontent.com/assets/8536648/12206785/a5347914-b664-11e5-8276-cf4939b3d304.png)

![image](https://cloud.githubusercontent.com/assets/8536648/12206793/bb4faf02-b664-11e5-9eb0-8ccc2647bfb7.png)

![image](https://cloud.githubusercontent.com/assets/8536648/12206757/77912d0e-b664-11e5-8957-ccf8209a5b69.png)

[2016-01-10 12:02] vincentfretin opened #77 "failed to find Build Tools revision 23.0.2"
Why did you update buildToolsVersion from "23.0.1" to 23.0.2?
https://github.com/xinthink/react-native-material-kit/commit/78ffeac2922350074e7d0004a29ffa905f755d13#diff-7ae5a9093507568eabbf35c3b0665732R15

I now have this issue when executing react-native run-android:
A problem occurred configuring project ':RNMaterialKit'.

With RN 0.17.0, I have android/app/build.gradle with buildToolsVersion "2

[2016-01-11 07:48] mazicky commented on #76
Try to put 'compile project(':RNMaterialKit') inside dependencies

[2016-01-11 07:49] mazicky commented on #77
+1

[2016-01-11 12:20] #77 closed

[2016-01-11 16:24] Taakn opened #79 "Floating label disappears when an event triggers"
Hello,

I am faced with the following problem : when an event triggers (for instance `onTextChange={(text) => this.setState({email: text})}` or for a button `onPress={this.handleSignIn}` then the floating label doesn't stay in place after `onBlur` and goes back into hiding.

Sample code:

< TextField
  ref='email'
  placeholder="email address"
  autoFocus={true}
  onTextChange={(text) => this.setS

[2016-01-11 17:31] Taakn opened #80 "Android App does not compile"
Hello,

I am getting the following 2 errors when trying to compile for Android (works fine in iOS):
MainActivity.java:13: error: package com.github.xinthink.rnmk does not exist
MainActivity.java:30: error: cannot find symbol .addPackage(new ReactMaterialKitPackage())

My settings.gradle:
include ':RNMaterialKit'
project(':RNMaterialKit').projectDir = file('../node_modules/react-native-material-kit

[2016-01-12 20:15] Taakn commented on #80
It now seems to be working... Weird.

[2016-01-12 20:15] #80 closed

[2016-01-14 03:20] sebathi commented on #75
Have the same issue. :(

[2016-01-15 00:52] ethandt92 opened #81 "Slider calls onChange twice"
The issue is on line 263, https://github.com/xinthink/react-native-material-kit/blob/4028992a6942d0b706758c355c5e0b8894de15a3/lib/mdl/Slider.js#L263
It should be TOUCH_UP not TOUCH_DOWN

[2016-01-17 03:48] xinthink commented on #75
Sorry for replying late.
Please remove the `peerDependencies` declaration and try again as @gre described in #74, which already merged into mater branch.

[2016-01-17 04:15] xinthink commented on #76
Sorry for replying late.
As @mazicky mentioned, `compile project(':RNMaterialKit')` should be include as a dependency, please refer to this example: https://github.com/xinthink/rnmk-demo/blob/master/android/app/build.gradle#L28

I'll update the README document, to put it more clearly.

[2016-01-17 04:15] #76 closed

[2016-01-17 04:50] xinthink commented on #81
You're right, thanks for reporting!

[2016-01-17 04:55] #81 closed

[2016-01-17 07:00] xinthink commented on #79
Sorry, would you mind explain the code a little bit? In the above code snippet, it looks like the `TextField` is not a `MKTextFiled`?

I try this in my demo, and it works fine:
[code]

[2016-01-17 08:50] Sexycrets commented on #75
It works now thank you

[2016-01-17 08:50] #75 closed

[2016-01-17 09:04] Sexycrets opened #82 "Button Does Not Work (Native component for "MKTouchable"/"Tickview" does not exist)"
When running I receive the 2 warnings mentioned in the subject and the button does not react when clicked: no visual feedback and the console.log in the onPress event is not executed. (I tried on iOS simulator).

I used the following code copy pasted from the documentation example:

[code]

Warnings:
[code]

Any ideas?

Thanks!

[2016-01-17 17:50] KelseyRegan commented on #79
Looks like he is missing the "<MKTextField " right after return.

I ran into this same issue actually.  To repro, all you need to do is type something in the field, then without leaving the field, trigger a state change in your view (so the render method of MKTextView gets called).  Then, trigger an 'onBlur' by selecting another field, and you will see the floating label disappear.

[2016-01-17 18:02] KelseyRegan commented on #79
I might have figured it out actually.  In Textfield.js, this.bufferedValue is empty, so the floating label gets hidden.

[2016-01-17 23:51] Taakn commented on #79
@xinthink yes I incorrectly copied and pasted my code, @KelseyRegan is right sorry about that. I was missing <MKTextField in the render section. I corrected the sample code.

[2016-01-17 23:57] talarari opened #83 "IconToggle animation lags on component re render"
described the issue here:
http://stackoverflow.com/questions/34845148/react-redux-animation-lag-when-state-changes

not sure this is related to redux, same thing would probably happen if i just call setState in onCheckedChanged.

[2016-01-18 06:28] zichaolim commented on #1
You're Genius!

[2016-01-18 09:09] Sexycrets commented on #82
Solved. After the issue with the npm not installing because of the peerDependencies the library was removed from the XCode project.

Adding it back fixed the issue.

[2016-01-18 09:09] #82 closed

[2016-01-18 11:32] Taakn opened #84 "Textfield Dropdowns"
Hello,

Don't know if that's a feature request, but what's the best way to create a textfield dropdown?

Thanks so much

[2016-01-19 06:23] KelseyRegan commented on #79
@xinthink
My PR fixes this issue: https://github.com/xinthink/react-native-material-kit/pull/85

[2016-01-19 08:45] xinthink commented on #79
Thanks @KelseyRegan, I'll look into it later.

[2016-01-19 09:44] zichaolim opened #86 "coloredFlatButton issue"
I tried to make alignment of the button text to the left, but it's always shown at the center of button

[2016-01-20 20:17] ssavajols opened #88 "placeholder color style"
Hi all,

How can we set the placeholder color style ?

TintColor do not affect the placeholder. v 0.2.5

[2016-01-21 16:32] tal952 opened #89 "text field with floating label - resize"
I build textfieldWithFloatingLabel with this code:

    const TextfieldWithFloatingLabel = MKTextField.textfieldWithFloatingLabel()
        .withFloatingLabelFont({
            fontWeight: '200',
        })
        .withHighlightColor('black')
        .build();

and just put 3 of them:

    <TextfieldWithFloatingLabel ref='name' placeholder={'Name'} blurOnSubmit={false} returnKeyType='next' onSubm

[2016-01-21 20:56] KelseyRegan commented on #89
+1

I have the same issue.

[2016-01-23 06:28] #79 closed

[2016-01-24 02:05] digitalhobo commented on #89
Try Adding the style to the build.
[code]

[2016-01-24 14:14] tal952 commented on #89
@digitalhobo Tried it, no good :(

[2016-01-24 20:44] mhinc14 opened #90 "FAILURE: Build failed with an exception."
I get the following error and i'm not sure why?

* Where:
Build file '/Users/mhinc14/Desktop/overdinnr/android/app/build.gradle' line: 81

* What went wrong:
A problem occurred evaluating project ':app'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

[2016-01-24 22:18] mhinc14 commented on #90
Fixed by re-naming the project in both the settings.gradle and build.gradle files.

[2016-01-24 22:18] #90 closed

[2016-01-26 17:40] ssomnoremac opened #91 "Android Button is no improvement over TouchableElement"
Is this how a button is supposed to look on Android? Then -> why?

![c94db75a-2c30-4441-9939-0bec54b05637](https://cloud.githubusercontent.com/assets/3521359/12588997/82663bac-c429-11e5-88b7-732e8efaa823.png)

    var MK = require('react-native-material-kit');
    var {
      MKButton,
      MKColor,
    } = MK;

          <MKButton
            backgroundColor={MKColor.Teal}
            onPress={(

[2016-01-27 00:54] awaidmann commented on #25
I needed something similar for a project I'm working on. So I spent the last week building it off of the Slider and Thumb classes. The actual component is complete, but now I need to make it jive with the [Contribution Guide](https://github.com/xinthink/react-native-material-kit/blob/master/CONTRIBUTING.md) as well as create a component for the [demo project](https://github.com/xinthink/rnmk-demo)

[2016-01-29 19:28] ssavajols commented on #88
Use placeholderTextColor props like textInput component.

[2016-01-29 19:28] #88 closed

[2016-01-30 17:24] Taakn commented on #91
@ssomnoremac style seems to be overriding. I use it like this:

`style={[MKButton.accentColoredButton().style, styles.button]}`

where` styles.button` is your style.

[2016-01-30 17:41] Taakn commented on #79
@xinthink @KelseyRegan I've been testing and unfortunately it's not working if I'm loading an existing record in a form and using `defaultValue` to setup the value.

In that case the label is correctly floating, but if I blank out the field the floating label stays floating up and does not disappear. The placeHolder text is there (so I have both the placeHolder and the floating label).

Thanks so

[2016-01-30 18:01] Taakn commented on #79
Don't know if that's related, but if I'm using `master` with React Native 19.0-rc it works on iOS, but not on Android. I am getting:

`undefined is not an object. (evaluating 'UIManager.AndroidTextInput.Constants.TextAlign[this.props.textAlign]')`

[2016-01-30 22:21] Taakn commented on #79
Don't know if that's related, but if I'm using `master` with React Native 19.0-rc it works on iOS, but not on Android. I am getting:

[code]

line 494 TextInput.js in `_renderAndroid`

[2016-01-31 10:21] arqex opened #92 "Underline not appearing for textInput"
Hi!

I am newbie in react-native world and this is the first library i have ever used :) thanks for it.

I am not being able to make text input with an underline. I am using rnmk 0.2.5 runing android 5 in a Nexus 5 emulator.

I am trying to do the inputs like

[code]

But no luck so far. Am I missing something?

Thanks

[2016-01-31 19:18] jyskit opened #93 "Getting started - Android - Extending ReactActivity"
The Getting started section for Android - item 4 should probably be changed to something like this - if your MainActivity inherits from ReactActivity:

import com.github.xinthink.rnmk.ReactMaterialKitPackage;
...
    protected List<ReactPackage> getPackages() {
      return Arrays.<ReactPackage>asList(
        new MainReactPackage(), new ReactMaterialKitPackage());
    }

[2016-02-02 18:05] pakoquijano commented on #92
+1

[2016-02-02 21:19] awaidmann opened #95 "Project not configured to use Airbnb linter"
The contribution guide mentions using these styling guides:
* [Airbnb JavaScript Style Guide]
* [Airbnb React/JSX Style Guide]

However, the [.eslintrc] file is not configured to use their configurations. It seems that only rules set are these:
[code]

The linter config file needs to extend the Airbnb configuration file as shown:
[code]

The linter extension can be found on [npm]. Install instruct

[2016-02-04 14:23] dmwallace opened #96 "Set Slider value with component prop"
It seems like the way to change the slider's value programatically is to set the .value property on this.refs["sliderRef"].

This makes it very difficult to initialize the slider value based on a parent prop on first render.

Just wondering why it was implemented this way?

[2016-02-04 23:06] DrMabuse23 opened #97 "Cannot read property 'setNativeProps' of undefined"
Hi i try to add a error Field when i do a setState i get
`
Cannot read property 'setNativeProps' of undefined
on BuiltTextField.setPlaceHolder
`

my Component
[code]
any solution would be nice.
thx DrMabuse

[2016-02-06 09:35] tuantle opened #98 "us"

[2016-02-07 05:08] graywolf336 commented on #93
Feel free to submit a pull request to change that yourself! :+1:

[2016-02-08 19:28] Taakn commented on #46
@mschipperheyn did you ever manage to get a textfield that stretched to the size of the panel even when the mobile device is rotated? It stretches if it's horizontal or vertical, but if I rotate my device it keeps the previous length. Thanks!

[2016-02-09 06:13] miknonny opened #99 "Step 4 of getting started with android."
The activity file seems to be different in  RN0.1.9. I i think that needs to be changed. Mine looks  like this.

[code]
So following that guide could get someone starting confused.

[2016-02-09 07:13] xinthink commented on #93
Thanks for reporting. I'll update the example code later.
The lib may be used it in a pure RN project or a hybrid one, it's very hard to meet everyone's need. I think  it should be put in the guide, that the way linking the lib is up to you, depends on the architecture of the project.

[2016-02-09 07:14] xinthink commented on #99
Hi, @miknonny it's duplicated with #93

[2016-02-09 07:14] #99 closed

[2016-02-09 07:15] #98 closed

[2016-02-09 13:05] miknonny opened #100 "How would i trigger another Ripple using TouchableHighLight onLongPress prop"
I was wondering how i would trigger another ripple using [TouchableWithoutFeedback](https://facebook.github.io/react-native/docs/touchablewithoutfeedback.html) onLongPress prop.
I guess it will look something like this. i am not sure.

[code]

[2016-02-09 18:01] tal952 opened #101 "when a Button is disabled, the Ripple still working."

[2016-02-09 22:17] btashton opened #102 "Instructions for registering package are out of date"
From the RN docs

https://facebook.github.io/react-native/docs/native-modules-android.html

[code]

[2016-02-12 08:33] xinthink commented on #25
this's fix in #94, thanks @awaidmann

[2016-02-12 08:33] #25 closed

[2016-02-12 08:35] xinthink commented on #102
thanks for reporting, but it's duplicated with #93

[2016-02-12 08:35] #102 closed

[2016-02-12 08:49] xinthink commented on #96
Props of react component are intent to be immutable, so I thought maybe a setter would be more useful.
Yes, I can add a `value` prop in the next release.

[2016-02-12 08:53] xinthink commented on #100
Did you mean you want two different ripple effect on the same view, one for single click, another for long press?

[2016-02-12 09:04] xinthink commented on #101
Unfortunately, none of the components support a 'real' disabled state now.
Should have it in future releases

[2016-02-12 10:02] miknonny commented on #100
@xinthink Yeah, that is exactly what i mean. Thanks.

[2016-02-12 10:05] xinthink commented on #95
Thank you, I'll make the modification

[2016-02-13 06:07] #95 closed

[2016-02-16 02:29] leandrost opened #104 "Setting fillColor of Checkbox component but color does not change"
I am trying set the fillColor prop and the component still using Indigo color.

[code]
I tried setTheme too like the doc suggest but the result was the same.
I think that could be something with TickView widget but its just a guess.

[2016-02-17 14:14] chinciusan commented on #104
I get this one too, only on iOS.

[2016-02-17 14:18] leandrost commented on #104
By the way, i'm using android.

[2016-02-18 18:06] joeferraro opened #105 "Installation problem"
Hi, I'm following [these](https://github.com/xinthink/react-native-material-kit#ios) installation directions, however, `libRCTMaterialKit.a` is not available to me when I try to add it to `Linked Frameworks and Libraries`. It's probably something really simple, hoping you can point me in the right direction.

Cheers

[2016-02-18 18:45] joeferraro commented on #105
forgive me: user error. had the project open in another xcode workspace which caused the issue. once i closed the other project, i was able to link `libRCTMaterialKit.a`

[2016-02-18 18:45] #105 closed

[2016-02-19 17:49] gre commented on #96
+1 for a value prop

[2016-02-21 03:34] xinthink commented on #104
Please update to RN 0.20.0 (the final release https://github.com/facebook/react-native/commit/6496feb61e9205baa3f25cf448c4fce912bd6250).
Android should work, iOS do have the problem, maybe caused by some change in RN 0.20.0

<img width="1099" alt="2016-02-21 11 30 26" src="https://cloud.githubusercontent.com/assets/390805/13200709/fb686b46-d88e-11e5-88c2-e94f40fdbf0d.png">

[2016-02-21 09:57] braunsquared commented on #104
I'm having the same issue on iOS.  I did some quick digging and it seems the settings inside TickView.m are never being called.  This is true both for fillColor and insets.  I can see the conversion happen in RCTConvert for the color value I'm passing in, but then it's never set on the returned view.  I'm thinking this is most likely a bug related to 0.20 as it doesn't seem to happen on another pr

[2016-02-22 02:19] lynndylanhurley opened #107 "Floating labels should animate size and color"
Fixed by #106.

[2016-02-23 15:16] Taakn commented on #84
I am using another component

[2016-02-23 15:16] #84 closed

[2016-02-24 11:04] npomfret commented on #104
I've got the same issue (with RN 0.20.0) with IOS, the fill colour seems to be getting ignored.

[2016-02-26 09:32] timjacobi opened #108 "Usage of builders"
I would like to understand why this library uses builders all over the place. It kinda works against react's declarative approach.

Instead of using
[code]
It would be much more intuitive to just be able to use
[code]

I'm happy to help if this is something you could imagine for future versions.

[2016-03-02 02:45] ajoshdee opened #109 "Radio Button forms"
HI, I'm creating a form which utilizes the radio button in groups of 5. Can you help me implement this. I have multiple questions in my form.

[2016-03-02 03:00] xinthink commented on #109
What's problem are you facing? Would you please post the code snippet here?

[2016-03-02 03:10] ajoshdee commented on #109
For example if I have 100 questions. Do I have to create 100 instances of `this.radioGroup` = new MKRadioButton.Group();`?

[2016-03-02 03:13] xinthink commented on #109
There're serval answers for a single question?
So I think there should be a group for each question.

[2016-03-02 03:13] ajoshdee commented on #109
And is it possible to just set the number of radio buttons, instead of calling it every time I need a radio button?

[2016-03-02 03:14] ajoshdee commented on #109
So are you suggesting that I have a hundred variables for 100 groups?

[2016-03-02 03:16] xinthink commented on #109
Yes. I think the way you use the Radio buttons should just like what you will do using html tags.
You can write a component yourself to wrap multiple Radio buttons.

[2016-03-02 03:19] xinthink commented on #109
Sorry, I didn't mean you should have hundreds of variables. But there's should be hundreds of groups.
You can make it local variables, like using a method to do the job, or write a custom component.

[2016-03-02 08:02] ajoshdee commented on #109
Ah yes but , each `new MKRadioButton.Group()` needs to be assigned to a prop. How do I go about this? It's easy if I could dynamically change the group by name but group prop accepts an object property.

[2016-03-04 15:45] dionysiusmarquis commented on #104
+1

[2016-03-04 18:15] dionysiusmarquis commented on #96
+1

[2016-03-06 02:26] jayesbe opened #110 "Minimum SDK required for Material Design?"
I integrated this library into a demo app and tried to build for Android 4.4 which is the minimum for React Native.. however I dont believe its the minimum for Material Design?

Is this true?  Im getting build errors if I target anything less than 5.1  And even then it crashes on startup on Android 5.1.1.  My package only loads on my simulator with Android 6.0.   I don't have a device to test with

[2016-03-07 03:21] anhldbk opened #111 "Cannot evaluate module RNMaterialKit"
I ran command `react-native run-android` and got an issue like this:

![screenshot from 2016-03-07 10-19-17](https://cloud.githubusercontent.com/assets/3270746/13560100/3aca2f70-e44e-11e5-9afc-6b1d700f2e7e.png)

Would you please tell me how to fix that?

[2016-03-07 13:45] tonygriv opened #112 "rnpm with react-native-material-kit"
Hello. I try to use https://github.com/rnpm/rnpm (rnpm link), but it seems not working with react-native-material-kit

[2016-03-07 14:02] limulidae opened #113 "auto capitalize"
i am using a MKTextField
but it capitalize first letter in email field.
how to fix it?

[2016-03-07 14:06] #113 closed

[2016-03-08 21:51] marcoreat commented on #96
+1

[2016-03-08 22:20] marcoreat opened #114 "Make MKSlider's onPanResponderTerminationRequest prop `()=>false` or configurable"
Right now MKSlider has `onPanResponderTerminationRequest` property hardcoded to `()=>true` ([link](https://github.com/xinthink/react-native-material-kit/blob/master/lib/mdl/Slider.js#L61)). I propose that it should be either `()=>false` or configurable.

The property `onPanResponderTerminationRequest` specifies how the component behaves if another component wants to become the responder for the cu

[2016-03-09 10:25] shukerullah commented on #92
+1

[2016-03-09 10:45] shukerullah opened #115 "Icon in Text Field"
How to show icon in text field as show in figure?
![mockup-2](https://cloud.githubusercontent.com/assets/963765/13632909/f08e3b06-e60d-11e5-9630-eee19a3a7a5b.jpg)

[2016-03-09 18:23] efkan opened #118 "[enhancement] checkbox doesn't appear properly (a suggestion on Material Design icon usage)"
Let me start by saying thanks for this awesome work.

I'm sure that I'm not as good as you at Java and React-Native.
Probably you had thought about the following issue but you didn't for a valid reason on your own.
I guess you had created your own native TickView to perform checking in the checkbox.
Indeed there is a checkbox icon in Material Design here [https://design.google.com/icons/#ic_check_

[2016-03-10 02:17] kelvinaliyanto commented on #104
:+1:

[2016-03-10 02:17] kelvinaliyanto commented on #104
+1

[2016-03-10 21:16] kkgelu opened #119 "blur() call is not forwarded to <TextInput />"
By checking the issue https://github.com/facebook/react-native/issues/113   I learned that I can call blur() to lose focus on a text input, the following code:

[code]
When this text input is focused, calling this.refs.REF_MY_INPUT.blur() works just fine, it loses focus on the input and dismisses keyboard.

But it does *not* work on

[code]

The use case is I am validating the user input on every

[2016-03-10 22:55] kristianmandrup opened #120 "Improved iOS Xcode install/configuration instructions"
For ppl struggling with XCode

"Add node_modules/react-native-material-kit/iOS/RCTMaterialKit.xcodeproj to your xcode project, usually under the Libraries group"

See the yellow folders in your project view to the top left. Find `Libraries` folder. Drag the mentioned `.xcodeproj` file there.

"Add libRCTMaterialKit.a (from Products under RCTMaterialKit.xcodeproj) to build target's Linked Framework

[2016-03-12 01:26] adrienthiery commented on #104
Same issue on RN 0.21, on iOs only also.

I suspect it comes from the [re-implementation of processColor](https://github.com/facebook/react-native/commit/c8a0a3eff6e18b21feb89cfdd3a375adab6a68e2) but I can't seem to find where the breaking change is....

[2016-03-12 02:11] adrienthiery commented on #104
Removing the `parseColor` function seems to correct the bug for me (see Pull Request #121)

Anybody knows if it makes it break on older versions of React-Native ?

[2016-03-12 04:18] alexprice91 commented on #112
+1

[2016-03-12 09:11] #93 closed

[2016-03-12 09:37] xinthink commented on #108
There're so many variants of `Buttons`, so I tried the builder pattern to keep it easy but flexible enough to build any kind of buttons you want. But it's not mandatory, it's just an additional choice.

Like what you pointed out, it maybe not a good idea, for a react app, if you have any good suggestion, I'd like to refactor the code. :beer:

[2016-03-12 10:41] #104 closed

[2016-03-14 10:21] adamrainsby opened #122 "Text not showing up on AccentColoredFab on Android"
Here is my code
[code]

Any idea what the problem is? It is working fine on iOS.

[2016-03-14 10:38] timjacobi commented on #108
Sure I will create a fork, refactor a couple of components and then let you have a look so you can decide whether you want that in here.

[2016-03-16 11:51] xelent commented on #111
+1 same problem

[2016-03-17 00:08] thessem commented on #71
This is currently an issue for me, it works fine on iOS though. I'm using RN 0.20

[2016-03-21 13:57] liangmicha opened #123 "MKCardStyles is undefined"
Hello I have trouble using MKCardStyles
[code]
when I log MKCardStyles it's undefined... But the others are not undefined.

I'm using version 0.3.0

[2016-03-21 15:04] DennisMG commented on #123
Same!

[2016-03-21 15:18] DennisMG commented on #123
I fixed it using the example [here](https://github.com/xinthink/rnmk-demo/blob/master/app/cards.js)

[2016-03-22 19:39] mschipperheyn opened #125 "Using a Vector icon in a textfield"
Is it possible to add a vector icon to a text field, such as in 'Password Input' field: https://www.google.com/design/spec/components/text-fields.html

We are looking to add a show password field to a text input field and would like to use an 'eye'-icon for this.

[2016-03-24 12:20] anhldbk opened #127 "Disable a button"
How to disable a button? I've read the code at [Button.js](https://github.com/xinthink/react-native-material-kit/blob/master/lib/mdl/Button.js), and tried with the following code in function `render()`:
[code]
But it doesn't work at all. Would you please tell me how I can achieve it?

[2016-03-24 14:25] limulidae opened #128 "auto grow text field height when typing"
is this implemented?

[2016-03-25 21:29] armandomendivil opened #129 "MKButton doesn't work on Android"

[2016-03-26 01:30] vladp commented on #129
it is working for me on Android API 22 and 23,  with react native 0.21, mdk 0.3.0  (I use the xxFab buttons).

[2016-03-26 08:11] armandomendivil commented on #129
Sorry about that, i had something wrong with my settings. MKButtons works well

[2016-03-26 08:12] #129 closed

[2016-03-27 04:19] xinthink commented on #110
This lib is mostly written in JS, so it's not requiring Android L.

The demo is working great on Genymotion Android 4.x emulator
<img width="526" alt="android demo" src="https://cloud.githubusercontent.com/assets/390805/14063829/02409216-f416-11e5-95f0-202de843469b.png">

[2016-03-27 04:19] #110 closed

[2016-03-27 04:23] xinthink commented on #111
the `react-native run-android` should surely work, please follow the Getting started guide

[2016-03-27 04:50] xinthink commented on #115
It seems impossible for now, but I can try to implement in the future releases.
@shukerullah, how can you achieve this with ReactNative's built-in `TextInput`?

[2016-03-27 04:53] xinthink commented on #125
Maybe it's similar to #115 ?
Unfortunately, it's not in my mind when I wrote the `Textfield` component, but I'll try to do it in the future releases.

[2016-03-27 06:20] xinthink commented on #118
Thank you for the reporting and the PR!
The reason why I wrote my own `TickView` is that I don't want to include resources (like icons) in this lib.
I think the ideal solution may be giving the flexibility to the users of the lib, one can use `react-native-vector-icons`, commercial licensed artworks..., besides the default built-in `TickView`.
I'll try to do it in the future releases.

[2016-03-27 07:24] #119 closed

[2016-03-27 07:39] xinthink commented on #127
Unfortunately, the `enabled` state is not implemented yet.
I'll do it in the future versions, and PRs are welcome!

[2016-03-27 07:56] xinthink commented on #114
I'v experimented it with my demo app, which have multiple sliders in a same screen, can't see any difference.
Can you post your code here, and what's your expectation of the behavior of the sliders?

[2016-03-27 07:58] xinthink commented on #128
Are you talk about the floating label?
For now, the space is preserved for floating label. It's not changed dynamically.

[2016-03-27 08:05] xinthink commented on #123
It's replaced by the theme system. Please refer to https://github.com/xinthink/react-native-material-kit/releases/tag/v0.3.0

[2016-03-27 08:05] #123 closed

[2016-03-27 12:22] xinthink commented on #128
I'm closing this, if you found some bug, feel free to reopen it.

[2016-03-27 12:22] #128 closed

[2016-03-27 13:07] xinthink commented on #122
@adamrainsby can you figure it out?

[2016-03-27 13:15] #107 closed

[2016-03-27 23:24] mcrumm opened #130 "RangeSlider onConfirm actually emits onChange"
@xinthink Thanks for adding `onConfirm` for `RangeSlider`.

I tried to update to the latest master, but right now [`onConfirm` is actually emitting `onChange`](https://github.com/xinthink/react-native-material-kit/commit/b1f8db6faa926323f6ed844b635992e26b8e2d98#diff-71e1a6f278451c0fd1619eda3229c9b7R149).

If you'd like, I can submit a PR to fix this.

[2016-03-28 02:02] #130 closed

[2016-03-28 02:02] xinthink commented on #130
:scream: Sorry about the mistake!

[2016-03-28 02:05] mcrumm commented on #130
No problem -- thanks for fixing it so quickly!

[2016-03-28 03:38] limulidae commented on #128
I am talking about multi-line text field.
Instead of scroll bar, I prefer dynamically adjust text field's height.

[2016-03-28 07:21] bawn commented on #112
+1

[2016-03-28 08:32] xinthink commented on #128
@limulidae How can you achieve this with ReactNative's built-in TextInput?

[2016-03-28 21:00] linoleum00 opened #131 "Text field with floating label - floating text label wrong color"
I added two textfield components like so:

`<MKTextField floatingLabelEnabled={true}  placeholder="Email" style={styles.textField}/>
<MKTextField floatingLabelEnabled={true}  placeholder="Password" password={true} style={styles.textField}/>`

And I overrided the theme for those textfields:

`setTheme({
    textfieldStyle : {
        tintColor: "#666666",
        highlightColor: "#DC3F37"
    }
});

[2016-03-28 22:52] m0ngr31 commented on #104
Still have this issue on v0.21

[2016-03-29 08:15] alvinthen opened #132 "Cards example in README.md is no longer valid"

[2016-03-29 14:20] niloms opened #133 "Wrong floating label color in React Native?"
Hi,

Is color parsing needed in this line (Textfield.js):
`    this.refs.label.setNativeProps({style:{color: utils.parseColor(color)}});`
?

Maybe it should be changed to this:
`    this.refs.label.setNativeProps({style:{color: color}});`

Thanks.

[2016-03-30 12:59] mmazzarolo commented on #112
RNPM is now working with:
[code]

[2016-03-30 13:27] andramarin opened #134 "Switch component shows an error, with RN 0.22"
Here is the error:
" undefined is not an object (evaluating Thumb.defaultProps.style) "

I followed the error in switch.js  lib/mdl, and here is the problem, line 130: Thumb.defaultProps.style,

For now I solve the error by removing this line of code, though I am not sure of your intentions there, what did you want to achieve?

Thanks,
Andra

[2016-03-30 13:48] mmazzarolo commented on #134
Same issue on React-Native 0.22 on every component referencing the `defaultProps` (i.e. Switch and Checkbox).
It seems it can be fixed with the following steps:
1. Set `defaultProps` and `propTypes` as static objects on the component
2. Don't reference `defaultProps` directly anymore: `this.props.propName` has already the value set in `defaultProps`.

This fixed the issues for me, let me know if i

[2016-03-30 14:18] mmazzarolo commented on #104
Hi! Any info on this? It seems really strange :8ball:

[2016-03-31 00:15] limulidae commented on #128
Cannot do this with builtin textinout.

[2016-04-06 18:28] texas697 opened #135 "button width"
I am using code from you example and I am trying to get the button full width. cant figure it out. I have

`    <ScrollView style={styles.scrollView}>
                <View style={styles.container}>
                    {/* Here the magic happens*/}
                    <View style={styles.cardStyle}>
                        <Image source={require('./../img/logo_login.jpg')} style={styles.cardImageS

[2016-04-07 15:01] marcoreat commented on #114
It's not about multiple sliders on one screen, it's about a slider inside a view that also responds to gesture events. Sorry, preparing a code sample is too difficult for me at the moment (unrelated technical issues). Will update this thread if this changes.

A similar issue was present in RN's SliderIOS and this commit may have more documentation.
https://github.com/facebook/react-native/commit/5

[2016-04-08 17:10] dbuarque commented on #104
+1

[2016-04-08 18:37] mschipperheyn commented on #104
+1

[2016-04-09 02:29] #96 closed

[2016-04-09 05:02] xinthink commented on #104
Sorry for the delay.
The fix is included in v0.3.1, just pushed to NPM, or you can try the latest build on master branch.

[2016-04-09 20:43] miaodonghan opened #136 "card title text unreadable when image is dark."
When I have a dark image as background, the title becomes unreadable.

[2016-04-09 21:21] c-h- opened #137 "MKTextfield keyboardType not working"
Using JSX to create an email address type keyboardType text input does not work. The resulting text field is a standard text field without a specific keyboard type.

Keyboard type docs: https://facebook.github.io/react-native/docs/textinput.html

The text input should show the proper email keyboard and not autocomplete or autocapitalize.

Run on iOS simulator.

[code]

<img width="333" alt="screen

[2016-04-11 11:48] cablegunmaster commented on #120
As a developer coming from the android environment its still a bit unclear how to proceed.

1. install with NPM done.
2. install on the android app done.
3. install on IOS... its a bit unclear what you refer as the `Library.` folder.
Can there be a generic I am a idiot instructions, for I have no idea how to implement it on IOS.

The android instructions itself, I find are very clear to follow.

P

[2016-04-11 19:20] trabianmatt commented on #134
I believe this was fixed via 116760340ca7d734a9768c6d1d464cdddf9e2221.

[2016-04-12 04:16] lsps9150414 opened #138 "Radio Button with a clickable label?"
Is it currently possible to make the label of a radio button also clickable, i.e. when clicking the label the corresponding radio button is also selected?

[2016-04-12 05:17] JamesWatling opened #139 "Range Slider onConfirm event not triggered"
Running version `0.3.0` the `onConfirm` event is never triggered.

The `onChange` event fires as expected, but from reading the docs I cannot find any other way of detecting when the user has "let go" of the slider.

Have I misunderstood the purpose of this function? `Callback when the value range is confirmed`?

Thanks

[2016-04-12 05:22] JamesWatling commented on #139
Was just debugging the code, and realised I was reading the documentation for `0.3.1` - Works great in `0.3.0`

[2016-04-12 05:22] #139 closed

[2016-04-12 05:39] xinthink commented on #120
Xcode is a bit different to Android Studio or Eclipse.
`Libraries` is something called 'Group' (kind of virtual folders), people usually manipulate them by drag & drop (instead of by editing the .xcodeproj file), if your project is created by `react-native init`, it should already be there:
![_2016-04-12_ 1_14_35](https://cloud.githubusercontent.com/assets/390805/14450410/ae39203c-00b0-11e6-9c89-1

[2016-04-12 05:54] cablegunmaster commented on #120
Ah thanks, I started it with the android approach. That is why my experience with ios is minor. Gonna look up how to init correctly :).

[2016-04-12 20:52] dimitriwalters opened #140 "Builder for slider removed"
It was removed in this [commit](f0e3222), but the readme still shows the slider builder being used

[2016-04-14 20:56] Informer commented on #111
+1 me too

[2016-04-18 14:25] fxhereng opened #142 "Single spinner color"
Hi! Thanks for this great lib!

I'm trying to have a single color spinner with an animation duration personalized, I tried various thing, the single color spinner constructor, the basic spinner() one adding stroke color property, and I'm still having the basic three colors.

[code]

The styles:
[code]

What am I doing wrong?

Thanks

[2016-04-20 03:30] dimitriwalters commented on #97
I had the same error message too when using textfields with the builder. I then switched to the jsx style and then the error went away, it's not much insight but it might fix other people's problems :P

[2016-04-20 06:44] Kztka commented on #128
@limulidae
I recommend to see this.
https://github.com/facebook/react-native/pull/3097
I could build auto grow textinput.

[2016-04-20 11:28] igorlimansky opened #143 "Custom placeholder style for textField"
Hi, awesome kit! I'm wondering, is it possible to set a custom style for placeholder?

[2016-04-22 06:16] ajoshdee opened #144 "Radio button selected index"
How do I know which radio I selected?

[2016-04-24 04:19] eranbes opened #145 "remove"

[2016-04-25 22:59] ringzhz commented on #111
+1

[2016-04-27 08:38] ajoshdee opened #146 "onCheckedChange not working"
Hi, <MKCheckbox onCheckedChange={() => console.log("helloe")}/>
this doesn't work.

[2016-04-28 08:26] #118 closed

[2016-04-29 14:42] #145 closed

[2016-05-02 00:28] alexprice91 opened #147 "Floating Label Persistence"
Is there a way to have floating label persist even without a value in the input?

[2016-05-02 04:31] xinthink commented on #147
Unfortunately, it's impossible currently.

[2016-05-02 06:19] #112 closed

[2016-05-02 06:56] #132 closed

[2016-05-03 06:30] ajoshdee opened #148 "URGENT: RADIO BUTTON INDEX"
I have a group of radio button? how do i know which index i pressed?

[2016-05-04 13:45] MervynFang opened #149 "Can't write in jsx after update"
After I update the react-native to 0.24.1, the component can't write in jsx. So I writes in the builder such as .withBackgroundColor(MKColor.Cyan).

[2016-05-04 15:46] MervynFang opened #150 "How can I change the icon's size?"
When I change the size, the icon would lose its origin style. RT

[2016-05-04 15:48] #150 closed

[2016-05-06 09:44] basdvries commented on #97
+1

[2016-05-06 12:00] weidaxu1988 opened #153 "textfield seems not work with react 0.25?"
i just create a project yesterday with react 0.25, MKButton works well, but textfield won't show itself at all? any same issue?

[2016-05-06 14:53] #153 closed

[2016-05-07 22:14] alexprice91 commented on #147
Got it, I have a mountain of work, but will try to circle around with a PR. Thanks for this repository!!

[2016-05-09 15:47] KarlosQ opened #155 "Checkbox doesn't work on Android"
I'm trying to do work the checkboxes but they are not working. Other things like TextField or Slider are working.

I import the component:
[code]
And put inside a View:
[code]

But the only thing showing is:
![login](https://cloud.githubusercontent.com/assets/15233913/15118649/7243e8c4-160d-11e6-9257-3631a9de6494.png)

I use Android 5.1 and RN 0.24

[2016-05-09 18:25] mckn opened #156 "Textfield with floating label focus problems"
Hello,

We have a form with a two textfields that have a floating label. The first textfield has auto focus and when we press somewhere at the page the label is animated as it should.

But if I press another textfield or a button I need to press two times to get the touch event to activate the other component. First time I press it the floating label animation is triggered. The second time the act

[2016-05-09 18:34] mckn commented on #156
Can also add that the fields are inside a scroll view.

[2016-05-11 22:17] dht opened #158 "Warning: ReactNative.createElement is deprecated"
I am getting a warning by using this:

const MK = require('react-native-material-kit');

const {
  MKButton,
} = MK;

const ColoredRaisedButton = MKButton.coloredButton()
  .withText('BUTTON')
  .withOnPress(() => {
    console.log("Hi, it's a colored button!");
  })
  .build();

The warning is:
ReactNative.createElement is deprecated

[2016-05-11 22:43] ivanistheone commented on #110
I tried to run an app that uses react-native-material-kit on a Moto G 4.4.4 (kit kat) but if fails with:

     Error while updating property `nativeBackgroundAndroid` of a view managed by: RCTView

So I guess KitKat isn't supported.

[2016-05-11 23:39] xinthink commented on #110
It should work, which version of ReactNative are you using?

On Thu, May 12, 2016, 6:43 AM Ivan Savov <notifications@github.com> wrote:

[2016-05-11 23:44] ivanistheone commented on #110
`react-native -v` says

    react-native-cli: 0.2.0
    react-native: 0.20.0

(note very new to react native, it's entirely possible i'm messing something up)

[2016-05-11 23:47] ivanistheone commented on #110
For reference, this is the app I was trying to build: https://github.com/InfiniteLibrary/infinite-reader
It uses "react-native": "^0.19.0" internally.   Also uses `react-native-material-kit ^0.2.5`, but I also tried the latest version too.

[2016-05-12 02:44] vladp commented on #155
checkboxes are working for me.
I suspect you need a style

pick styles from example's style.js
[code]

[2016-05-12 10:42] KarlosQ commented on #155
Nop, I try with this styles and nothing:

[code]

![sin titulo](https://cloud.githubusercontent.com/assets/15233913/15212063/0cd31440-183f-11e6-8466-8e570f0be334.jpg)

[2016-05-12 18:51] ivanistheone commented on #110
Also, my bundle process might be at fault. This is what I ran:

    react-native bundle --platform android \
                --dev false --entry-file index.android.js \
                --bundle-output android/app/src/main/assets/index.android.bundle \
                --assets-dest android/app/src/main/res/
    ./gradlew assembleRelease
    ./gradlew installRelease

Does this look right?

[2016-05-13 03:05] vladp commented on #158
+1. I started getting it to, once migrated to 0.25.1

[2016-05-13 03:09] vladp commented on #155
Hmm, I am puzzled. Mine works very well with 0.3.0 and 0.3.1 on all of the react releases.
On android API 22 and 23 (using Nexus 6 settings). no problem
Are you using Android emulator or Genymotion (I am using Android emulator).

(only thing that does not work for me is React Native Debugging in Chrome..)

[2016-05-13 10:55] Crash-- commented on #158
Can you try this patch ?

https://github.com/xinthink/react-native-material-kit/pull/152/files

[2016-05-15 03:51] alexprice91 opened #159 "Prevent parent scrolling when active"
We should implement something like this:

https://github.com/dancormier/react-native-swipeout/wiki/Scrolling

[2016-05-16 02:44] phpsmarter opened #160 "Need more detail about iOS and android setup"
iOS

Add node_modules/react-native-material-kit/iOS/RCTMaterialKit.xcodeproj to your xcode project, usually under the Libraries group
Add libRCTMaterialKit.a (from Products under RCTMaterialKit.xcodeproj) to build target's Linked Frameworks and Libraries list
 I don't understand above path,could you give more detail ?and  android  step 4,I can't catch up with you too.
By the way excellent work!

[2016-05-16 12:29] mmelitzer commented on #160
Use "rnpm install react-native-material-kit", it does the linking for you.
The path node_modules...... is in your project after you installed it using npm .....
The .a file you have to link, click on your project's root in XCode and in the tab Build Phases under Link binary With Libraries click + and the .a file should be under Workspace

[2016-05-17 17:11] johnwayner commented on #71
I'm seeing this, too (RN 25.1).  But I'm not using material kit, so it's likely a core react native issue.

[2016-05-18 13:58] limulidae commented on #158
+1

[2016-05-19 13:55] johnwayner commented on #71
I figured out why this was happening to in my case.  I had left my genymotion instance running for a while and the clock had skewed horribly.  React Native use a native poly fill for timers (RCTimer) which attempts to compensate for delays in the javascript-to-native bridge.  When debugging in Chrome, the javascript engine's current time is the host systems, but the timer code doing the compensati

[2016-05-19 15:19] #156 closed

[2016-05-19 15:21] mckn commented on #156
We had missed the following settings on the ScrollView when upgraded react-native. You can use the keyboardDismissMode and keyboardShouldPersistTaps to handle this behavior.

https://facebook.github.io/react-native/docs/scrollview.html

[2016-05-19 17:43] reergymerej commented on #158
[RN 0.25.1 release notes](https://github.com/facebook/react-native/releases/tag/v0.25.1)

[2016-05-19 19:23] rongzhou opened #161 "Doesn't compatible with react-native 0.26"
Error Info:

ExceptionsManager.js:61 Module AppRegistry is not a registered callable module.
ExceptionsManager.js:61 Super expression must either be null or a function, not undefined

[2016-05-20 01:02] limulidae commented on #158
v26 is released, btw.

[2016-05-20 16:11] herby commented on #161
Also in Switch.js. Probably lots of other places.

Pls fix this and release 0.3.2 asap. Thanks.

[2016-05-20 23:06] TheTekton commented on #161
Those errors are from RN v0.26.0 breaking changes for react API. I could do a PR later, if need be. Here's a zip with the changes needed for v0.26.0, if that'll help anyone.

[react-native-material-kit.zip](https://github.com/xinthink/react-native-material-kit/files/275565/react-native-material-kit.zip)

[2016-05-21 09:04] hieupm37 commented on #161
@TheTekton Does your fix work with Android? I've tried but still have this error: Super expression must either be null or a function, not undefined

[2016-05-21 09:51] sammosampson opened #162 "Text fields on ios"
Hi when i run the Text fields example, I can only see the field text and floating labels but nut the input areas or underline for the text fields and consequently cannot enter anything. This works ok on Android

[2016-05-21 10:39] BrnoPCmaniak opened #163 "Ripple effect "undefined is not a function (evaluating '_this._onLayoutChange(evt.nativeEvent.layout)')""
![photo416392398289086877](https://cloud.githubusercontent.com/assets/1249759/15447890/a6a0f2a0-1f50-11e6-914c-78a4363c7e2b.jpg)

[code]

Pretty much the same happens to TextField and probably any other rnmk component.

[2016-05-21 16:51] TheTekton commented on #161
@hieupm37 I didn't a chance to test on Android yesterday, sorry. My testing was limited to a project that utilizes the rnmk-demo, so I can't say it's a full fix. Can you let me know what you're getting that error with (e.g. Button.js, etc.)?

[2016-05-22 08:34] hieupm37 commented on #161
@TheTekton I can run your patch now. Maybe there are somethings wrong on my installation. Thank you very much.

[2016-05-23 08:36] herby commented on #161
Hm, maybe this is already fixed by 97c3aab and it just needs a release?

[2016-05-23 08:56] umarFarooque commented on #161
I am facing the same issue, tried the attached zip by @TheTekton  but still facing the same issue. I am running the project on iOS simulator and get the following response on my Xcode log.

[2016-05-23 16:58] mmelitzer commented on #163
I had the same issue, although I can't say 100% sure why it's caused it seems to be a transpiler issue.
The methods that cause this are all arrow functions:
`someMethod = () => { ....}`

In case you have a babelrc file add the react-native-stage-0 preset, e.g.:
`
{
  "sourceMaps": "inline",
  "presets": [
    "react-native-stage-0"
  ],
  "passPerPreset": true
}
`

Check out the descriptions on th

[2016-05-24 09:54] rushabh1191 commented on #161
Any idea,when 0.26 support will be rolled out?

[2016-05-24 09:58] umarFarooque commented on #161
I am also waiting for the same. Have halted development for Android app.

[2016-05-24 10:00] umarFarooque commented on #161
I am also eagerly waiting for the same. I've halted designing based on Material kit and using native elements for now.

[2016-05-24 13:37] ssomnoremac commented on #161
There's a [major breaking change](http://stackoverflow.com/a/37415044/2533864) in 26 that was only a warning in 25. All packages have to conform to the new way of importing from **both** react and react-native

[2016-05-24 13:49] herby commented on #161
OTOH, it is pure mechanical change (a few basic things must be imported from 'react', react-native specific ones from 'react-native' as before). So, please, could you make these changes (just search over all appearances of string 'react-native' or "react-native" and fix the imports) and then issue a new release? Thanks.

Cameron Moss wrote:

[2016-05-24 14:03] umarF commented on #161
Hey,
I'd like to contribute and change the same. Since I'm a newbie here I would need to know the steps, which I think are as follows:

1. Clone repository
2. Make changes
3. Check if working ( by implementing the same project in my react-native project and check if it works)
4. Push request

Is that all or I need to something more too ?

[2016-05-24 15:05] Crash-- commented on #161
Use the master's branch of this repo, not the npm version. Fixes are done but not released yet.

[2016-05-24 19:53] DennisMG commented on #155
Same here. Checkboxes are not working in the github version of material-kit. Use the npm version instead!

[2016-05-25 01:43] ajoshdee opened #164 "RN 0.26 Compatibility"
HI , can you please update this, it such a waste if no one can use this because it doesn't work on RN 0.26

[2016-05-25 12:22] cablegunmaster commented on #164
in the folder node_modules , create a folder : "reat-native-material-kit" and put the content in there.
after that follow the install instructions and it works.

[2016-05-25 12:30] cablegunmaster commented on #161
Tried but still got redborders in the MKButton. (just simple code no css or style changes made).

[2016-05-25 23:26] siderakis commented on #163
I've been getting a lot of these errors recently (after upgrading RN to 26).

I think arrow functions aren't working properly in RN. After binding this manually this issue and a bunch other errors were fixed.

I've tried `react-native-stage-0` with no success.

[2016-05-26 00:49] ajoshdee commented on #164
can't you just bump the version to npm so it's easy to install?

[2016-05-26 06:48] Crash-- commented on #161
@cablegunmaster  Generally you got red borders when the project (rnmk) is not well linked to your project. Can you check this? Just `rnpm link`

[2016-05-26 06:52] Crash-- commented on #164
@xinthink has not a lot of time at the moment. So be patient. You can point to this github repo for npm instead of just react-native-material-kit by doing : `npm install xinthink/react-native-material-kit`

I've no problem with 0.26 and MKButton on iOS.

[2016-05-26 18:03] cyrbon commented on #164
On Android, I have experienced this on 0.25 until I've rebuild (`react-native run android`) and restarted (`react-native start`). Haven't tested on 0.26 yet, so perhaps it was something else.

[2016-05-26 20:22] eladcandroid commented on #112
Please note this in README

[2016-05-27 21:05] devekoperiOS commented on #161
I also have the same issue. For my both iPhone and android app, its giving me Super expression must either be null or a function, not undefined.

[2016-05-28 05:01] andreyluiz commented on #161
:+1:

[2016-05-28 11:22] kendepelchin commented on #161
Glad I've found this issue, was breaking my head about it

[2016-05-28 13:38] andreyluiz commented on #164
@cablegunmaster, your approach worked for me. :+1:

[2016-05-28 16:05] AzizAK commented on #164
@cablegunmaster how can i put the content there? can you explain what is the content ?

[2016-05-29 08:06] cablegunmaster commented on #164
@AzizAK you download the zip folder of this github and put it in the react-native-material-kit folder, from the master branch.

[2016-05-29 09:48] AzizAK commented on #164
@cablegunmaster thank you very much! now its working correctly.

[2016-05-31 01:29] alexprice91 commented on #164
Never been this "cutting edge" with a technology before. Usually there are more mature libraries since the technology has been around for a while.

Any idea of how we can add maturity to `react-native-material-kit`?

[2016-05-31 04:06] colorhaake commented on #155
My checkboxs do not working too.

The reason why that checkboxs are not working I think is the following commit
https://github.com/xinthink/react-native-material-kit/pull/151/commits/871b10b7216800e8c5fb3af21d1fdcbc9babb4d6

When I use the latest version of checkbox, react native will popup warning
`Warning: Failed propType: Invalid props.style key `editable` supplied to `Checkbox`.`

After I remo

[2016-05-31 09:10] Crash-- commented on #164
@alexprice91 by submitting PR and by hoping that @xinthink can merge it or give collaborator access to some of us ;).

[2016-05-31 09:17] Crash-- commented on #162
Can you share the code to reproduce your problem?

[2016-05-31 09:25] Crash-- commented on #159
For which component?

[2016-05-31 11:23] alexprice91 commented on #164
@Crash-- it looks like, in this example, master has already resolved the issue, just needs a release.

[2016-05-31 11:24] cablegunmaster commented on #164
Gonna recheck the redborder issue, otherwise you are right @alexprice91 .

[2016-05-31 11:27] alexprice91 commented on #164
@cablegunmaster, thanks. And if you know how to fix the issue and can submit a PR, that sounds great. Otherwise I'll dig in and fix it.

[2016-05-31 11:35] cablegunmaster commented on #164
@alexprice91  my JS skills not that high yet that I can fix it so far. -_-;; which I find very sad.

[2016-05-31 11:38] alexprice91 commented on #164
No problem. Is it (the redborder issue) still there?

[2016-05-31 11:40] Crash-- commented on #164
@alexprice91 It was just a generality about your question because the solution of this issue has been already given few times now ;).

[2016-05-31 11:42] alexprice91 commented on #164
Got it, I'm very tired this morning. I think this would be a smart move `give collaborator access to some of us`.

[2016-05-31 12:10] xinthink commented on #164
Sorry for the delay, please use the master branch for this moment, as @Crash-- pointed out.
I'll upgrade to the latest RN version this weekend.
Apologize again!

And @alexprice91 @Crash-- is it ok if I grant you the collaborator access?

[2016-05-31 12:11] alexprice91 commented on #164
Yep, that sounds great!

[2016-05-31 12:12] Crash-- commented on #164
Yep! We'll be able to close Issues, PR and create tag if needed.

[2016-05-31 12:17] alexprice91 commented on #161
@devekoperiOS is a javascript error you get when you try to inherit from something that isn't a class. The most likely reason for that if you are upgrading to `26` is react-native no longer has the class "Component". You need to use React's Component.

A copy from release notes:

Requiring React API from react-native is now deprecated - 2eafcd4 0b534d1

Instead of:

[code]

you should now:

[code]

[2016-05-31 12:18] alexprice91 commented on #161
To everyone else. Following this thread: https://github.com/xinthink/react-native-material-kit/issues/164

xinthink is going to upgrade the package this weekend.

[2016-05-31 13:11] devekoperiOS commented on #161
@alexprice91 I have changed my code and every where I replace code that you suggested. But, still it gives me the same error.

[2016-05-31 13:29] alexprice91 commented on #161
Got it, you are going to have to wait for the next release of RNMK. If you need an update now, you can follow the instructions on this thread: https://github.com/xinthink/react-native-material-kit/issues/164

[2016-05-31 16:16] #155 closed

[2016-05-31 16:18] Crash-- commented on #155
@colorhaake Just merged a fix in master. Can you confirm that your checkbox work again?

[2016-05-31 16:22] Crash-- commented on #162
Just tried with the latest version (ie master branch of this repo, not the npm version) and it works well I think. I can see inputs, write text etc.

![capture d ecran 2016-05-31 a 18 20 56](https://cloud.githubusercontent.com/assets/1107936/15682141/9371d1ea-275c-11e6-93eb-ea5452cec122.png)

Which version are you using? Do you have any warning / error?

[2016-05-31 16:27] Crash-- commented on #164
To summarize the solution
### First, remove installed version
`rm -rf ./node_modules/react-native-material-kit/`
### Then, install the master branch of the github repo (which containts the fixes)
`npm install  xinthink/react-native-material-kit`
### Then link it to your project
`rnpm link`

[2016-05-31 16:29] Crash-- commented on #161
I close this issue, it's a duplicate of #164  Please see this [comment](https://github.com/xinthink/react-native-material-kit/issues/164#issuecomment-222743212) to fix the problem

If it still not working continue the discussion there.

[2016-05-31 16:29] #161 closed

[2016-05-31 16:58] Crash-- commented on #158
Close this issue for now since RN 0.26 is out and that we gave a [workaround]() to fix issues with it.

[2016-05-31 16:58] #158 closed

[2016-05-31 17:00] Crash-- commented on #160
@phpsmarter is it better with this [documentation](https://github.com/xinthink/react-native-material-kit/pull/168/files) ?

[2016-05-31 17:01] Crash-- commented on #149
@MervynFang Do you still have the issue?

[2016-05-31 17:02] Crash-- commented on #148
There is no emergency here in this repo. If you want to have an answer to your question I recommend you to ask it politely.

[2016-05-31 17:03] Crash-- commented on #144
Duplicate of #148

[2016-05-31 17:03] #144 closed

[2016-05-31 17:31] Crash-- commented on #143
You can use the react-native textinput's properties. So you can use `placeholderTextColor` to define a text color for your placeHolder

[code]

or

[code]

[2016-05-31 17:38] Crash-- commented on #137
I just tried and I have the right keyboard with `keyboardType`. But like with RN itself, you have to specify `autoCapitalize` &  `autoCorrect` to not have autocorrect & autocapitalize. This example works great.

[code]

[2016-05-31 17:38] #137 closed

[2016-05-31 17:47] Crash-- commented on #163
@BrnoPCmaniak @siderakis Seems there is a solution in the SO post. Can you confirm the fix?

[2016-05-31 17:52] Crash-- commented on #142
Is that what you want? Or have I misunderstood?

[code]

[2016-05-31 17:56] Crash-- commented on #140
Not sure it was intended since @xinthink is a fan of the builder pattern.

But I'm wondering if we need to keep it since it introduces 2 ways of doing the same thing...

What do you think @dimitriwalters ? @xinthink ?

[2016-05-31 17:58] Crash-- commented on #131
How and where do you override the theme? Can you give us a functional code to reproduce this bug?

[2016-05-31 18:25] Crash-- commented on #111
Please read the Getting Started guide, it explains how to link the module both on Android and iOS

[2016-05-31 18:25] #111 closed

[2016-05-31 18:29] Crash-- commented on #146
Please provide useful informations

[2016-05-31 18:29] #146 closed

[2016-05-31 18:33] Crash-- commented on #138
Currently is not possible, but we'll think about adding this possibility.

[2016-05-31 18:35] Crash-- commented on #134
I close this issue since it's a problem with RN 0.22. If you still have it with latest version, please feel free to reopen.

[2016-05-31 18:35] #134 closed

[2016-05-31 18:42] #114 closed

[2016-05-31 18:42] dimitriwalters commented on #140
I think it is good to have both options, then let the developer choose which one they prefer :)

[2016-05-31 18:51] Crash-- commented on #122
@adamrainsby I'm closing this issue since we haven't any news. If you still encounter the problem, please reopen it.

[2016-05-31 18:51] #122 closed

[2016-05-31 18:56] Crash-- commented on #97
@DrMabuse23 @basdvries Did you have figure it out?

[2016-05-31 19:30] DrMabuse23 commented on #97
Sorry long time ago ...

[2016-05-31 23:00] alexprice91 opened #170 "Long-Term Planning"
Want to use this thread to launch long-term planning for the app, and how best to use contributors. I want to keep this in the spirit of what @xinthink have done so far.

## Contributor Types

These were some roles that I thought different contributors can have. Some people might fit all roles, but we need them all to move forward with the project.

- `Visionary`: someone who looks at the long ter

[2016-05-31 23:01] alexprice91 commented on #170
@xinthink @Crash-- and other contributors, would love thoughts here.

[2016-05-31 23:02] alexprice91 commented on #159
@Crash-- would be great if I was more specific. The issue I was having this on was for the `Slider` component.

[2016-05-31 23:10] #97 closed

[2016-05-31 23:28] #143 closed

[2016-05-31 23:35] #125 closed

[2016-05-31 23:36] #120 closed

[2016-05-31 23:37] alexprice91 commented on #120
Closing this for now. Would welcome `PR` for README

[2016-05-31 23:39] alexprice91 commented on #108
@timjacobi have you been able to look into this? This could close out a couple other issues also

[2016-05-31 23:40] alexprice91 commented on #100
@miknonny were you able to implement this? Did you need any more help?

[2016-05-31 23:41] alexprice91 commented on #92
@arqex @pakoquijano did @shukerullah's solution work for you?

[2016-05-31 23:43] alexprice91 commented on #91
@ssomnoremac did @Taakn's solution work for you?

[2016-05-31 23:44] alexprice91 commented on #86
@zichaolim can you post some sample code?

[2016-05-31 23:47] alexprice91 commented on #83
Can you post some sample code? My guess is you have some other component that has a heavy-loading time. The best thing to do would be to isolate your code that has this performance bottleneck in its own component, and implement [shallow compare](https://facebook.github.io/react/docs/shallow-compare.html).

[2016-05-31 23:48] alexprice91 commented on #63
Inactive. Closing.

[2016-05-31 23:48] #63 closed

[2016-05-31 23:53] alexprice91 commented on #50
Bringing this conversation back. Would love to get a cross-platform solution working. Wondering if material-ui is still a bit too unstable and has too many features to really implement. If they archive more stability we could look at matching their API. One huge benefit of working with them is the number of contributors they have.

[2016-05-31 23:54] #51 closed

[2016-05-31 23:55] #3 closed

[2016-05-31 23:56] #48 closed

[2016-06-01 00:02] alexprice91 commented on #21
@xinthink it looks like we have FAB now :-D. And there is [DrawerLayout](https://facebook.github.io/react-native/docs/drawerlayoutandroid.html#content), but only for Android.

If we keep this issue open, I would only leave it for either styling for DrawerLayoutAndroid, or for add a cross-platform component.

[2016-06-01 06:00] colorhaake commented on #155
@Crash-- It works! Thanks for your help

[2016-06-01 09:13] timjacobi commented on #108
@alexprice91 I had seen this on in the README so I guessed it's been solved

[code]

Maybe @xinthink can give us an update

[2016-06-01 20:06] shankiesan commented on #164
I'm still having the red buttons and no-worky!

Anyone else still having issues after doing @Crash-- 's workaround?

[2016-06-01 20:25] shankiesan commented on #71
@johnwayner so are you saying that you simply resolved the issue by restarting genymotion? I am indeed using setTimeout and setInterval quite a lot in my app

[2016-06-01 20:32] AzizAK commented on #164
@shankiesan my approach was
1- uninstall the package
2- install it and delete the node_modules all the files inside material kit folder
3-  download the material kit as zip from github
4- unzip and copy the files into the same file in node_modules

[2016-06-01 20:57] Crash-- commented on #164
@shankiesan I don't think "red buttons" is about RN 0.26 compatibility it's more about linking this lib in your project. rnpm should have done that for you automatically, can you check that? Do you use this lib before RN 0.26?

[2016-06-01 22:44] johnwayner commented on #71
After a discussion with Genymotion, we came to the conclusion that while my laptop was asleep the emulator was losing time.  This caused the emulator's time to be way off.  If your emulator's time is not different than your computer's, you have a different issue, unfortunately.

However, if they are different (even just a little), you should be able to reset the time manually or by restarting the

[2016-06-02 00:20] alexprice91 commented on #108
Yeah, it looks like you can use both now. Closing this issue unless there needs to be more clarification.

[2016-06-02 00:20] #108 closed

[2016-06-02 07:51] shankiesan commented on #71
Thanks, I'll try that next time it doesn't work. Seems to be working now, and it didn't at various times in the past, so your clock sync issue certainly is plausible!

[2016-06-02 07:55] shankiesan commented on #164
@AzizAK – I tried your approach and it didn't work, unfortunately

@Crash-- I assumed that `rnpm` was a typo when you meant to say `npm`. I've now discovered rnpm 😄 . I'll try this shortly. Cheers

[2016-06-02 13:22] rammuk opened #171 "Center floating label position on focus"
Hi

Is there a way to center the floating label once the text input is focused?

Thanks

[2016-06-02 15:41] Crash-- commented on #171
Right now, it's not possible because the material kit specification doesn't allow that.

[2016-06-02 20:29] oliviertassinari commented on #50
One of the Material-UI maintainers speaking.
I have done a [POC](https://github.com/callemall/material-ui/pull/3829) with React Native. I have learned various things in the process. Let's list how we could interconnect.
- sharing the same code? The react ecosystem seems far from this ideal world. E.g. The [POC](https://github.com/callemall/material-ui/pull/3829) I have done two months ago was brok

[2016-06-02 21:08] alexprice91 commented on #50
@oliviertassinari this is great. I think long term #2 would be the way to go.

I wonder if on RNMK's side we can start using MU as a baseline of which features to support.

On MU's side, if they started using Higher Order Components to define a declarative API, then we could work off of these for new components.

[2016-06-04 04:38] xinthink commented on #164
@alexprice91 I've invited you to join the [Slack channel](https://rnmk.slack.com) for this project. I think it's a better place to discuss the development of the project.
And @Crash-- would you mind send me your email address, so that I can invite you into the channel too?

[2016-06-05 02:03] xinthink commented on #160
Maybe we can put more detailed instructions (with screenshots) into a wiki page, which's useful for those who're new to RN. But keep the README document clean and brief, because it's the home page of the project.

[2016-06-05 02:26] xinthink commented on #170
Couldn't agree more @alexprice91

And I think log term goals may also include:
- Performance boost
  - By reducing view hierarchies? Considering making more out of native MD components on Android
- Modularizing, long long term 😄 when the lib grows big enough

[2016-06-05 02:52] xinthink commented on #170
Useful tools
- A [Slack channel](https://rnmk.slack.com) maybe suitable for discussions amongst the contributors
- [ZenHub](https://www.zenhub.io) may help managing the project

[2016-06-05 03:19] xinthink commented on #109
Sorry for replying it so late. But I wrote an example below, hope it may help.

[code]

[2016-06-05 05:02] xinthink commented on #164
I tested with RN 0.26 & 0.27-rc, looks like the problem is solved, and I published v0.3.2 today.

I had the 'red-box' problem at first, but it seems disappeared after making a clean build of the whole project (including RN sources).

[2016-06-05 07:36] rammuk commented on #171
What about RTL support?

[2016-06-05 13:33] #171 closed

[2016-06-05 13:36] rammuk opened #172 "RNMK in form"
Hi

I am implementing RNMK in a form and i would like to know if there is a way to change the
float label text and color after rendering? in case value is not valid

Thanks

[2016-06-05 14:20] sammosampson commented on #162
I was using npm version on android and could not see text entries. I'll try
with repo ver and latest rn
On 31 May 2016 17:22, "Quentin Valmori" <notifications@github.com> wrote:

[2016-06-05 20:34] Crash-- commented on #162
You can now use the latest npm version. We released it just a few days ago and it should fix your issue

[2016-06-06 23:03] alexprice91 commented on #172
My quick answer: MKTextField accepts `tintColor`. I use this to change the underline color.

[2016-06-06 23:03] alexprice91 commented on #172
I think you might be able to use `highlightColor` for the label.

[2016-06-07 05:25] Crash-- commented on #172
@rammuk I used to use `placeholderTextColor` to change the color of the placeholder.

[code]

[2016-06-07 17:58] vonovak commented on #68
with RN 0.26 this is not an issue any more.
in RN textfield, you can now set font family sans serif and the font will look right
with MKTextField you don't even have to set it, it seems it is somehow taken care of already

[2016-06-07 18:11] vonovak opened #174 "MKTextField does not change width upon orientation change"
hello! thanks for this awesome lib.
I noticed that when changing screen orientation, the width of MKTextField stays the same.

How to reproduce:
1create MKTextField
2 run app in portrait mode
3 switch to landscape - MKTextField will keep its width

[2016-06-07 18:36] #170 closed

[2016-06-07 18:40] alexprice91 commented on #68
@vonovak nice! thanks for noticing.

[2016-06-07 18:40] #68 closed

[2016-06-09 07:13] gluwa commented on #82
Experiencing the same problem. Trying to figure out how @Sexycrets fixed it.

[2016-06-09 07:23] Crash-- commented on #82
Be sure to have linked the project.

The easiest way is to install [rnpm](https://github.com/rnpm/rnpm) then in your project you have to run :
`rnpm link`

Or by doing `rnpm link react-native-material-kit`

[2016-06-09 07:29] gluwa commented on #82
Thanks @Crash-- .
I did it but rnpm says they were already linked, and I am still getting the warnings.

[code]

I will keep looking for the root cause, and will update here when I solve the problem.

[2016-06-09 07:35] Crash-- commented on #82
The warning says that the NativeComponent is not reachable. If these components are well linked... Maybe you can uninstall react-native-material-kit (first with npm and then remove it from your XCode project) and then install it again.

[2016-06-09 07:38] gluwa commented on #82
Will try that now.

[2016-06-09 11:20] gluwa commented on #82
Fixed. Thanks @Crash-- .
I had to relaunch React Packager during the process @Crash-- has recommended, and I wonder if it has anything to do with the problem.

[2016-06-11 08:54] Crash-- commented on #138
I had to implement this behavior for a project. I had not so much time so my solution was to call confirmToggle() when the user press the label. I've not the Ripple effect though.

[code]

[2016-06-11 19:40] edwin-candinegara opened #177 "TextField not shown in iOS"
Hi,

I am trying to use MKTextField on iOS and it is not displayed at all in the simulator.
It is working on Android.

**Version:**
**RN**: 0.27.2
**RNMK**: 0.3.2
**iOS**: 9.3

This is the expected result (on Android simulator):
![image](https://cloud.githubusercontent.com/assets/6941596/15987098/fb292b6c-304e-11e6-8d79-2adea50db811.png)

This is how it looks like on iOS simulator:
![image](https:

[2016-06-13 05:41] tume opened #178 "Can not override styles on MKIconToggle"
Upgraded to version v0.3.2 and it seems that MKIconToggle is ignoring the styles that I'm passing to it. It was working in the previous version.

I was using it to make the toggle a bit bigger than the default size so if there is better way to do it now would be interested to know.

[2016-06-13 05:50] Crash-- commented on #178
Hi,

Thanks for reporting this issue. How do you currently override the default style? Like that I'll be able to reproduce the same issue and try to fix it.

[2016-06-13 06:10] tume commented on #178
Was using like this:

[code]

[2016-06-13 08:23] Crash-- commented on #178
I found the issue(It was introduced "long" time ago : https://github.com/xinthink/react-native-material-kit/commit/116760340ca7d734a9768c6d1d464cdddf9e2221#diff-d3366018012b3dfe74baecaf89a0c7d1L86). I'll check with @xinthink to see if there is a good reason for this modification. In the meantime you can patch it yourself to see if it breaks something else ;)

[2016-06-13 09:00] Crash-- commented on #177
Thanks for taking the time to report this issue.

Just tested your code and I was not able to see MKTextField. But if I remove the `alignItems : 'center'` from the style, I can see them.
I ran the same issue by adding `alignSelf : 'center'` directly on MKTextField component.

I need to test this behavior with RN TextInput component to see if it comes from our lib or from RN.

[2016-06-13 13:25] edwin-candinegara commented on #177
@Crash--
Thank you for testing it out and letting me know the problem source!
In that case, is there any possible way of making the button in the middle without using alignItems and alignSelf?

[2016-06-13 17:15] gluwa opened #179 "IndeterminateProgress has no "bufferColor" propType"
is this on purpose?

[2016-06-16 10:59] sopent commented on #172
In react you do not need change anything AFTER rendering, because render function calls every time you change something (I mean call this.setState). So, you change something, call setState and react calls your render function after that.

You can check entered value and change state in bounded functions, onChangeText for example. Here an simple app, which mark text with red color if it is contains

[2016-06-16 11:41] sopent commented on #148
Just pass your index in onCheckedChange

[code]

[code]

[2016-06-16 20:16] shankiesan commented on #164
Thanks for all your help @xinthink @AzizAK and @Crash-- . Upgrading to 0.3.2 and then clearing all my caches under `~/.gradle/caches` did the track. Woop! 👍

[2016-06-17 00:36] ajoshdee commented on #148
@sopent Thanks for the response.

[2016-06-17 18:47] mathjoy opened #181 "spinner not working on android"
API23, default spinner only draw a red square instead of a circle. It works on ios.

[2016-06-18 08:52] Crash-- commented on #181
Hey @mathjoy. Thanks for reporting your issue.

Have you tried with another API version? Did it works before? Does the others components are working? I'm asking that because the "red border / square" issue is basically because the native part of RNMK is not well linked to your project.

[2016-06-18 08:53] #148 closed

[2016-06-18 09:14] Crash-- commented on #179
Good catch.

I think that if you needed it, we can add it (or you, PR is welcomed :))

[2016-06-18 09:38] Crash-- commented on #177
I've dug into this issue. If you set a width / height to your MKTextField it'll work with alignItems : center.

Can you give it a try and see if it sill working on Android?

[2016-06-18 09:52] Crash-- commented on #162
@sammosampson Maybe it's related to #177 ?

[2016-06-18 09:56] Crash-- commented on #133
Hi,

I can't find this line anymore in TextField.js. Does your issue is still relevant with our latest release?

[2016-06-18 22:31] urbanvikingr opened #184 "Default AutoCapitalize on MKTextField may not be working"
I have this function and it works fine with the exception of `AutoCapitalize`. By default, it should be sentences (capitalize first letter).

I am wondering, if I am the only with this issue.

[code]

[2016-06-18 22:32] urbanvikingr opened #185 "Disabling features on controls"
Is anybody looking to or working on adding disable feature on controls, buttons or textfield?

If not, I would like to contribute. Thanks.

[2016-06-19 06:31] Crash-- commented on #185
Hi @urbanvikingr. Go ahead, send a PR... Feel free to participate without asking us ;)

[2016-06-19 13:21] Crash-- commented on #184
I'm agree with you, we should have the same default behavior as RN textinput. I'm using some MKTextField in my app, with the use of the JSX not the builder, and I've not this particular issue. I think the problem comes from :
[code]

[2016-06-19 13:25] Crash-- commented on #185
See #176 for a start. But I'd really like an harmonized API between components for this feature (with a deprecated message if you need to BC break) ;)

[2016-06-20 12:55] urbanvikingr commented on #185
Would it be appropriate to offer a $200 bonus to someone to add disabling on buttons and controls within a week?

[2016-06-20 13:14] alexprice91 commented on #185
@urbanvikingr I have been beyond busy with my day job. Hoping to get this out in the next week. The pattern is already established from that PR if you want to contribute, otherwise I'll try to implement it this week.

[2016-06-22 07:21] niloms commented on #133
I can't find this line now either.

[2016-06-22 07:21] #133 closed

[2016-06-22 07:57] #178 closed

[2016-06-23 01:48] urbanvikingr commented on #185
@alexprice91 I am in boat as you in regards to client work. I would like to invite my developer Danny @israelidanny to this discussion. He contributed to the slider. Do you have specs to how you would like to have this implemented?

[2016-06-23 10:11] tusharkhatiwada opened #186 "Multiline on TextField"
Hi,
Is it possible to enable `multiline` feature for the `TextField` component ? Currently it's not showing the **enter** key on the keyboard.

[2016-06-23 10:24] tusharkhatiwada commented on #186
Using `multiline: true` fixed the problem.

[2016-06-23 10:24] #186 closed

[2016-06-23 11:59] Crash-- commented on #185
@urbanvikingr We're currently working on a few solutions. As soon as I've something to show for a few components, I'll open a PR to engage the discussion and to implement it on other components. We've not currently any specs, we're testing several paths.

And when I say ASAP, I think I'll be able to show something today or tomorrow. Every idea is good to take, so if @israelidanny has some ideas, d

[2016-06-27 07:10] mlumbroso commented on #138
To be exactly correct, you have to check first if it not checked, because currently if you click twice on it, no option is selected.

Here is the additionnal check :

`<Text style={styles.legendLabel} onPress={() => {
              if(!this.refs.mycheckbox.state.checked)
                  this.refs.mycheckbox.confirmToggle()
            }}>Checked</Text>`

Thanks for pointing me in the right direc

[2016-06-27 12:16] urbanvikingr commented on #185
@Crash-- Any updates on specs. If not, @israelidanny will contact you to discuss. Otherwise, please share your specs and we would like to contribute.

[2016-06-27 12:17] urbanvikingr commented on #184
@Crash-- Please feel free to assign this to @israelidanny, if nobody is working on this.

[2016-06-29 06:08] Secretmapper opened #188 "_this._aniStartHighlight is not a function"
For some weird reason I'm getting a `_this._aniStartHighlight is not a function` error. I'm on RN 0.26.3

<img width="459" alt="screen shot 2016-06-29 at 2 05 58 pm" src="https://cloud.githubusercontent.com/assets/4077143/16442147/a61a6c78-3e02-11e6-9272-d7230398a15d.png">

Has anyone encountered this before? Is this an RN transpilation error?

[2016-06-30 01:04] urbanvikingr commented on #185
How can we contribute on this? We would like to help as we need this for a client project, but we would like to follow your specs or perhaps we can implement a suggestion.

My thought would be to have a `disabled`, optional bool as input to avoid setting this bool every you need the sliders or buttons without disabling feature.
@Crash-- @alexprice91 @israelidanny

[2016-06-30 01:06] urbanvikingr commented on #184
@israelidanny please can you take a look at this. It better to solve it when rewrite our TextInput to JSX.

[2016-06-30 02:34] xinthink commented on #184
I'll look into it, but I'm fully understand what's the problem, do you mean there's no way to set the `AutoCapitalize` property with Builder?

[2016-06-30 14:52] xinthink commented on #184
Hi @urbanvikingr , I tested the built-in `TextInput` on Android with RN 0.27.2 (my Xcode doesn't work for now, it says 'it's upgrading'), it looks like there no a default value for the `autoCapitalize` prop, even though the official documents say `sentences ` is the default value.

<img width="320" alt="2016-06-30 10 42 32" src="https://cloud.githubusercontent.com/assets/390805/16492328/faee7d18-3

[2016-06-30 16:56] linonetwo commented on #131
afaik, five settings can influence the color:

  .withTintColor(MKColor.Grey)
  .withHighlightColor(MKColor.Grey)
  .withTextInputStyle({color: MKColor.Grey})
  .withFloatingLabelFont({
    fontSize: 10,
    fontStyle: 'italic',
    fontWeight: '200',
    color: '#9E9E9E'
  })

[2016-06-30 18:06] linonetwo opened #189 "MKSwitch dont change while use setState in callback"
Were I use:

              <MKSwitch
                style={styles.isMainPrinciple_Switch}
                trackSize={30}
                trackLength={52}
                onColor="rgba(255,152,0,.3)"
                thumbOnColor={MKColor.Orange}
                rippleColor="rgba(255,152,0,.2)"
                onCheckedChange={(e) => this.setState({newKindsOfPrincipleIsMainPrinciple: e.checked})}

[2016-07-03 22:45] lynndylanhurley opened #191 "MKTextField does not clear all characters when value is set to null"
In the following example, I'm trying to clear the inputs after the form is submitted. But for some reason the first 1 or 2 characters of each field remain.

I can confirm that the `null` value is passed correctly to the `MKTextField` component.

![rnmk-input-issue](https://cloud.githubusercontent.com/assets/468037/16547998/4cb92020-4145-11e6-96e4-568aab893f42.gif)

I'm also having trouble finding

[2016-07-03 23:14] lynndylanhurley commented on #191
I was able to work around this by adding this to my own input component that wraps `MKTextField`:

[code]

Where `this.refs.input` refers to the `MKTextField` defined in my component:

[code]

[2016-07-05 06:20] comiclee commented on #181
+1

[2016-07-05 14:54] Thomsos commented on #188
I'm getting this error as well on RN 0.28

[2016-07-05 18:06] urbanvikingr commented on #184
Awesome. Ty. I'll test this right now.

[2016-07-05 18:58] urbanvikingr commented on #184
Hi @xinthink, I am still unable to use `AutoCapitalize` with builder.

[2016-07-06 11:31] israelidanny commented on #185
I published a first PR for this kind of functionality:
https://github.com/xinthink/react-native-material-kit/pull/192

[2016-07-06 16:31] ty-dev opened #193 "UWP support?"
Does this work for UWP apps?

[2016-07-06 17:48] Yirmeyah opened #194 "keyboard does not close itself when clicking out of a text field"
Hello,

Thanks for the plugin.

I need the keyboard to close itself when tapping out of a textField.

I tried to use a scrollView (https://github.com/facebook/react-native/issues/4229) with the prop keybordShouldPersist that allows to close the keyboard when tappiing two times out of the textField but I need it to work in one click.

Any ideas ?

Thank you for you help

[2016-07-07 07:36] Crash-- commented on #188
Can you provide a reproductible exemple? I've tried with RN 0.26, 0.28 and 0.29 and I didn't manage to reproduce this bug :/

[2016-07-07 07:53] Crash-- commented on #194
Hi,

Just tried with the rnmk demo app (on iOS) and it seems to work as you desired. Maybe I've not well understood?

![sans titre](https://cloud.githubusercontent.com/assets/1107936/16646037/4f6b3854-4428-11e6-94f0-208ff96035e7.gif)

[2016-07-07 08:23] Yirmeyah commented on #194
Hi, thank you for your answer.

I forgot to specify that I am working on Android.

My goal is to pass from a textField to another textField or to a touchableHighlight directly, with the keyboardShouldPersist prop at false.

When the value of this prop is true, it is impossible to unfocus the field.

Thank you,

Jeremie

[2016-07-07 10:43] JagdishUpadhyay commented on #194
Hi Yirmeyah

Have you got any solution. I am also facing the same issue in Android.

I have two input fields on my screen. If user is filling value in first textbox, after clicking in another textbox, he need to click it twice

[2016-07-07 14:40] mdpedersen commented on #164
@xinthink, I'm having the "red-box" problem with a fresh install on react-native 0.29, I wonder if you can clarify your steps to a "clean build" which resolved the problem for you? Or is react-native 0.29 not supported?

[2016-07-07 16:25] Crash-- commented on #164
@mdpedersen RNMK is compatible with RN 0.29.

Have you linked RNMK with `rnpm` ? If yes, have you this problem on iOS or Android?

[2016-07-09 02:43] krokofant opened #196 "What is this behavior?"
Notice: *Hi, I've been doing React for ~1 week now.*

I have some behavior in my code which I don't know is specific to this package or not. I'd like some help to understand it.

I would like to extend the current raised button for which I have done this
[code]
And this is the output from my console
<img width="246" alt="react_native_debugger" src="https://cloud.githubusercontent.com/assets/590849

[2016-07-09 09:35] zsxsoft opened #197 "withPassword seems useless?"
[code]
Test Code: https://github.com/xinthink/rnmk-demo/blob/master/app/textfields.js
[code]
![qq 20160709173325](https://cloud.githubusercontent.com/assets/2398785/16707306/6f782740-45fb-11e6-97a2-00914ab6e16a.png)

[2016-07-09 13:56] eladnava commented on #164
Strange, I'm getting a red box as well when using `MKSpinner`, using the example code provided.

[2016-07-09 13:59] xinthink commented on #196
This is the behavior of ReactNative's [StyleSheet](https://facebook.github.io/react-native/docs/stylesheet.html), it's immutable, it returns the id of the styles, but not the object. You can provide additional styles to override/extend the old one, for example:

[code]

[2016-07-09 14:25] urbanvikingr commented on #189
@linonetwo I am curious to know if this is seen on Android or iOS or both.

[2016-07-09 15:31] Crash-- commented on #189
Oh, you're right. I'm having this issue with RN 0.29 on iOS. Can you confirm your RN version?

[2016-07-10 10:10] mdpedersen commented on #164
@Crash: Yes I've linked with rnpm, and I'm seeing the problem on Android (haven't tried iOS yet).

[2016-07-10 10:34] eladnava commented on #164
In the meantime I went with [`ActivityIndicator`](https://facebook.github.io/react-native/docs/activityindicator.html)

[2016-07-10 13:34] Crash-- commented on #197
Hi,

If I understand correctly, you are testing this lib on Windows phone?

[2016-07-10 13:35] zsxsoft commented on #197
@Crash-- I'm sorry but it's Android 6.0

[2016-07-10 15:31] linonetwo commented on #189
I use the currently latest version.

And extends, es6 .

[2016-07-11 00:56] krokofant commented on #196
Thank you!

[2016-07-11 00:56] #196 closed

[2016-07-12 07:57] Crash-- commented on #189
@linonetwo Can you try the fix? (#198)

[2016-07-12 08:03] Crash-- commented on #193
I guess not. We only have native code for Android and iOS at the moment.

If WUP becomes a real RN functionality maybe we'll think about adding it to RNMK. If you really want it, you can help up by submitting PRs ;).

[2016-07-12 08:04] Crash-- commented on #188
@Secretmapper @Thomsos Do you still have this issue? If yes, can you provide an exemple to reproduce this issue?

[2016-07-12 08:08] #160 closed

[2016-07-12 08:09] Crash-- commented on #142
@fxhereng Did you resolve your issue?

[2016-07-12 09:01] fxhereng commented on #142
Yes, it's the same color now with:

[code]
and:

[code]

I think I let the animation as default,

Thanks

[2016-07-12 09:01] #142 closed

[2016-07-12 18:31] mmelitzer opened #200 "Setting the value of a slider doesn't update the thumb"
If the value property is changed in a component the slider resets the value (componentWillReceiveProps) but doesn't update the thumb position.

[2016-07-12 18:40] mmelitzer commented on #200
Here's a PR to fix this issue:
https://github.com/xinthink/react-native-material-kit/pull/201

[2016-07-13 15:45] Thomsos commented on #188
Yes i still have this issue. But I believe it has something to do with how the function is defined using class properties and my environment not supporting it.

` _onFocus = (e) => {
    this._aniStartHighlight(true);
    this._callback('onFocus', e);
  };`

[2016-07-13 21:17] joncursi opened #202 "Cross-Platform List Component?"
Hi,

Just a question, feel free to close, but is this library planning to support a cross-platform List / ListItem component in the future? In mobile design, most things are lists, so I think this would be a very important feature to have.

Thanks!

[2016-07-18 13:14] vermiculite commented on #197
I have fixed this locally, I will make a pull request.

[2016-07-18 14:54] Crash-- commented on #188
I don't think that it's the only place when we use ES2015 feature. Can you provide a code snippet you use?

[2016-07-18 15:01] Crash-- commented on #202
You have discussed about this lately and you think we need to add a List component. However, we haven't started working on it. If you want to contribute, feel free ;)

[2016-07-18 16:48] necolas opened #204 "Web support"
Is there any interest in web support? I've been working on [react-native-web](https://github.com/necolas/react-native-web) to get RN components running on web. If you're interested I could prioritize more issues that would help get (most of) this library to run on the web platform.

[2016-07-19 09:26] #189 closed

[2016-07-19 09:30] Crash-- commented on #200
Thanks for the fix. It'll be released in the next version

[2016-07-20 01:54] dralletje commented on #204
I am definitely in for that, and I have some spare hours. @necolas what is the best way to get in touch with you and people working on react-native-web anyway?

[2016-07-20 15:01] necolas commented on #204
The issue tracker for now

[2016-07-26 13:42] mlumbroso opened #206 "[iOS] Input doesn't move on top of the keyboard in MKTextfield"
Hi,

I have a MKTextfield encapsulated in a position absolute view that places it in the bottom of my screen. When I focus on Android, the input gets on top of the keyboard as expected, however it's not the case in iOS, where the input doesn't move and stays behind the keyboard.

![simulator screen shot 26 jul 2016 4 41 42 pm](https://cloud.githubusercontent.com/assets/562562/17140118/ec205cac-534

[2016-07-27 14:07] silverspace commented on #89
FYI, I was experiencing the same "bounce on re-render" issue even when just calling this.forceUpdate().

My workaround was to use the JSX syntax for MKTextField instead of the builder, and the issue went away.

[2016-07-27 19:28] RichardLindhout commented on #164
It works fine on Android with reactie native a lot of the issues are because of linking with rpnm.

To fix this issue on iOS
After linking with rpnm run the code with xCode and after that it works.

To fix this issue on Android
After linking with rpnm change the package init etc to MainApplication instead of MainActivity!

[2016-07-29 12:32] Crash-- commented on #206
Hey,

Thanks for reporting this issue. Do you still have the problem using a classic RN TextInput?

There is a lot of discussion about this subject, and RN is trying to fix this issue with [`KeyboardAvoidingView`](https://github.com/facebook/react-native/commit/8b78846a9501ef9c5ce9d1e18ee104bfae76af2e) (but it's not production ready yet I think).

Your solution seems to be almost right. See this [

[2016-07-29 12:34] Crash-- commented on #204
Hi,

It could be interesting to port RNMK to the web platform but it's not just about porting some StyleSheet & JS it's also about porting our native base code to JS...

Please free to create the issues ;).

[2016-07-29 14:53] necolas commented on #204
You're unlikely to need to port much if any Stylesheet as compatibility is provided by the web implementation of React Native

[2016-07-30 00:36] antoinerousseau opened #208 "[TextField] Can't tap into a field if I tap its placeholder, when floatingLabelEnabled={true}"
I have focus issues with multiple fields like
[code]
If I type something in the first field, then I can't just to the second one by tapping on its placeholder... (I'm using redux-form btw)

[2016-07-30 00:42] antoinerousseau opened #209 "[TextFiels] floating label should change color depending on focus state"
See https://material.google.com/components/text-fields.html#text-fields-labels

Colored when focused, grey when not

![img](https://material-design.storage.googleapis.com/publish/material_v_8/material_ext_publish/0Bzhp5Z4wHba3dWFoM3V0NldkWFU/components_textfields_labels3.png)

[2016-07-30 00:48] lakeoffaith commented on #208
good question

[2016-07-30 01:00] lakeoffaith commented on #209
good

[2016-07-30 12:54] Crash-- commented on #208
Hi,
Thank for reporting this issue.

Do these MKTextField are children of a ScrollView? If yes, can you try to add these keyboard's props to your scrollview ?

[code]

[2016-07-30 13:11] Crash-- commented on #209
Can you share the code you use? Because the color of my floating label is changing based on the focus state.

[code]

[2016-07-30 14:03] Crash-- commented on #191
Hello, thank you for reporting this bug.

I think I've a better fix.

Can you replace in `TextField.js` the `componentWillReceiveProps` by this one? And tell me if this is the expected behavior?

[code]

[2016-07-30 21:24] antoinerousseau commented on #208
Already had `keyboardShouldPersistTaps` set to `true`, just tried setting `keyboardDismissMode` to `on-drag` and then also tried to set `keyboardShouldPersistTaps` to `false` but no combination fixes the bug.

Not that it only appears after I've entered some text in a field, and I want to jump to another field, and only if I tap on the placeholder. If I want to jump to a field by tapping its blank

[2016-07-30 21:34] antoinerousseau commented on #209
I should have added: when text is entered, I mean yes the color changes when the label goes from big (placeholder) to small (small label above) and vice-versa, but once I enter text, that small label's color should depend on the focus state too.

[code]

Note that I have to pass a `style` prop even if empty, otherwise the height of the fields is broken O.o

[2016-07-31 02:33] vladp opened #211 "MKPropTypes uses depreciated method for PropTypes (depreciated with react 0.29.2 and onwards)"
getting the Yellow warning Box:
"Warning:  You are manually calling a React.PropTypes validation function for the 'position' prop on `StyleSheet...'
same for
'left' prop
'right'prop
'top' prop

I reviewed the explanation
https://facebook.github.io/react/warnings/dont-call-proptypes.html

and saw that the code style to be depreciated appears to be used in
dimen, font, rippleLocation.

**I am not su

[2016-07-31 08:39] lakeoffaith commented on #208
i really want to see what happen,i create a demo,but i can't find where the issue is.
[easy demo https://github.com/lakeoffaith/demo](https://github.com/lakeoffaith/demo)

[2016-08-01 08:24] Crash-- commented on #209
Much more detailed thank you! Will take a look

[2016-08-02 02:21] antoinerousseau commented on #208
just tried your demo and the bug is not present indeed... it's going to be hard to find the source of it in my app but i'll let you know if I find it!

[2016-08-02 04:10] picodoth opened #212 "Error: Cannot find module './Spinner' from 'index.js'"
https://github.com/xinthink/react-native-material-kit/blob/master/lib/mdl/index.js#L9

Spinner.js does not existed,

The existing ones are Spinner.android.js or Spinner.ios.js

Is this on purpose?

Running test reporting:

[code]

[2016-08-02 14:31] dmwallace opened #213 "Ripple overflows fab circle on Android"
Ripple overflows fab circle on Android for MKButton component with prop fab={true}
Additionally maskBorderRadius has no effect.

Component displays correctly on iOS

[2016-08-02 20:45] lakeoffaith commented on #212
i think it should not be a problem,rn will require js(.android.js or ios.js) by judge what the os is,

[2016-08-03 11:13] Winangel commented on #212
I face the same problem here.

@lakeoffaith I understand that rn can require the right file when running but I can't get this to work in my tests though as babel try to load a Spinner.js file and not a Spinner.ios.js file...

[2016-08-03 17:59] picodoth commented on #212
@lakeoffaith, yes, it's working in real time but I'm having problem with tests. Isn't this a very common issue? What would be a good solution?

[2016-08-04 09:14] Winangel commented on #212
@picodoth
The solution I have found so far is changing the compiler used by a custom one. You need to override de module._findPath function in order to resolve the platform specific dependencies.

You need to create a compiler.js file that looks like this:
[code]

In your package.json file, just replace the test command with:
`"mocha --recursive --compilers js:compiler.js -r test/setup"`

For the

[2016-08-04 18:05] antoinerousseau commented on #211
see https://github.com/facebook/react-native/issues/9165#issuecomment-237634271

[2016-08-05 15:08] MQZhangThu opened #214 "[android] Need Fix the readme"
My environment is gradle 2.4 on Android.   The `ReactMaterialKitPackage` should be added in the `MainApplication.java` file.

Moreover, I encountered errors like

 `:react-native-material-kit:prepareReleaseDependencies FAILED FAILURE: Build failed with an exception. * What went wrong:...`.

I fix this problem by editing some lines of  `node_modules/react-native-material-kit/android/build.gradle` f

[2016-08-07 13:11] Crash-- commented on #212
Thank you @Winangel for this detailed answer!

@picodoth Is it ok now?

[2016-08-09 01:24] ananddayalan opened #215 "warning setstate(...) can only update a mounted or mounting component on RadioButton"
Based on the change radio button option, I hide/show other radio buttons, I do this by maintaining flags in state. I'm not holding any reference to the radio button.
When I hide and show multiple times, I'm getting the following error. May be the componentWillUnmount should be handled in RadioButton.js?

warning setstate(...) can only update a mounted or mounting component. This means you called s

[2016-08-10 20:57] koblas opened #216 "Update readme to use react-native install ..."
rnpm is no longer "current" and following those directions a clean install has problems. If you move to react-native install .. it works just fine.  Readme update would be nice.

[2016-08-10 23:44] csujedihy opened #217 "Buttons in Android"
Why the appearance of buttons are so different from those in iOS? They are pretty ugly.
![image](https://cloud.githubusercontent.com/assets/6022514/17574889/77c55844-5f2a-11e6-87b0-5dd31af17729.png)

[2016-08-11 14:33] anyx opened #218 "Floating placeholder alignment"
Is there way to set alignment to floating placeholder?

[code]

This is not works for me

[2016-08-11 14:36] tiaaaa123 commented on #194
I think this issue need to be answer soon, as you are not the only ones with this issue...

[2016-08-11 14:41] Crash-- commented on #217
Hi,

Red box appears when RNMK is not well linked to your project. It seems that there is some issues with Android. Can you try what is suggested in #214?

[2016-08-11 14:46] tiaaaa123 commented on #177
it is working in Android, but on IOS, the height isnt working well. I gave an height of 48 to the MKTextField and it still have a strange height. As you can see below, Left is IOS and right is Android
![textfield](https://cloud.githubusercontent.com/assets/9055082/17592499/8bda73f6-5fb0-11e6-9f99-58a3f5683189.PNG)

MKTextField style = { height: 48 }
hintTextField: { heightL 40 }

[2016-08-11 14:47] Crash-- commented on #194
You can set the prop to true and deal with the unfocus on your own.

You can add a `onStartShouldResponder` to deal with the click. See this issue with React Native https://github.com/facebook/react-native/issues/4087

Something like
[code]

[2016-08-11 18:31] csujedihy commented on #217
The suggestion in #213 doesn't work. I think I correctly followed the instructions.

[2016-08-11 22:40] lakeoffaith commented on #217
yesterday i also get a red box,because i forget add new ReactMaterialKitPackage() in getPackages.

settings.gradle
include ':react-native-material-kit'
project(':react-native-material-kit').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-material-kit/android')

app/build.gradle
compile project(':react-native-material-kit')

version
"react-native-material-kit": "^0.3.2"

[2016-08-12 03:04] xiaobuu commented on #213
+1

[2016-08-13 22:10] jo2010 commented on #215
+1
@ananddayalan  I'm also getting the same error. Did you find a solution for it?

[2016-08-14 18:57] itelo commented on #217
same problem here...

[2016-08-15 00:28] designbuildplay commented on #217
Upgrading my project from RN28 to RN31 I'm now having this issue, trying various ways of linking the library as suggested is not fixing...

[2016-08-16 10:54] ollar commented on #217
You need to check if `new ReactMaterialKitPackage()` is included to getPackages functions in MainApplication.java file. `react-native link` don't do this so the plugin is not connected properly.

And don't forget to import `import com.github.xinthink.rnmk.ReactMaterialKitPackage;` on top of the file first! :)

[2016-08-16 12:51] Crash-- commented on #217
@designbuildplay & @itelo Can you tell me if @ollar's solution is working for you? If yes, I'll update the doc

[2016-08-16 23:51] designbuildplay commented on #217
@ollar @Crash--  Awesome thats done the trick!, so my getPackages func is now looking like this..

`@Override
    protected List<ReactPackage> getPackages() {
      return Arrays.<ReactPackage>asList(
          new MainReactPackage(),
          new ReactMaterialKitPackage()
      );
    }`

[2016-08-17 11:22] Crash-- commented on #215
Can you provide a full working exemple in order to reproduce and fix this bug? Thanks!

[2016-08-17 15:13] IcanDivideBy0 commented on #163
Adding the following in `.babelrc` fix it

[code]
This should definitly be in the README.md, lost way too many time in babel output for this. Strange thing is that `react-native` preset seems to include it, so I don't know why i have to add it a second time...

Babel 6.11.4
RN 0.31.0

[2016-08-18 19:37] jcteague opened #220 "Textfield password alias not working"
We had a password text field defined as so:

[code]
After upgrading to r-n .30 from .24, it was no longer hiding the password characters.  We did a workaround by specifying the actual proptype name on textfield `secureTextEntry` and the characters are now masked.

[code]

[2016-08-18 19:51] jcteague commented on #220
I just tested to see if the `value` alias in textfield would work and it is also not working.

I was going to work on PR for this, but I honestly don't think these provide any real value.  IMHO just changing the docs would be better.  It keeps the builder props inline with r-n props and you don't have to make any changes if they change property names.

[2016-08-19 11:38] Crash-- commented on #220
Thank you @jcteague! I'll test it and see if it works well everywhere and then update the readme.

[2016-08-19 11:51] jcteague commented on #220
I should have mentioned I only tested on android

On Aug 19, 2016 6:38 AM, "Quentin Valmori" <notifications@github.com> wrote:

[2016-08-19 20:24] ananddayalan commented on #215
@jo2010 I haven't found a solution for it yet.
@Crash-- Yes, let me try to get a working sample and post here by tomorrow.

[2016-08-23 18:44] homanp commented on #220
How do I set the password type in MKTextField using JSX? I've tried both `password` and `secureTextEntry` as props, none of them seem to work.

Example below:
`<MKTextField
            highlightColor={'#00C84B'}
            placeholder='Password'
            style={styles.textfieldWithFloatingLabel}
            floatingLabelEnabled={true}
            keyboardType={'email-address'}
            valu

[2016-08-23 19:01] jcteague commented on #220
@homanp this worked just fine for me on android.  I'm not setup on ios at the moment, so I can't test there.
[code]

[2016-08-23 20:11] homanp commented on #220
Hmm...I'm running RN 0.27. Perhaps that is an issue?

[2016-08-23 20:11] homanp commented on #220
The above code doesn't mask the password field input

[2016-08-23 20:12] jcteague commented on #220
could be, I tested on .30

On Tue, Aug 23, 2016 at 3:11 PM, Ismail Pelaseyed <notifications@github.com>
wrote:

[2016-08-23 20:14] homanp commented on #220
The 0.27 states that secureTextEntry should work on both iOS and Android. Any ideas on what could be wrong?

[2016-08-23 20:28] homanp commented on #220
Btw tested with te build() merhod and withSecureTextEntry works just fine

[2016-08-23 20:47] Crash-- commented on #220
Yep it doesn't work with JSX. There is a PR (if I remember correctly) to fix it.. I need time to merge it.

[2016-08-26 17:31] marko89kv commented on #135
You didn't link the libraries properly, I had the same problem and after I carefully followed the installation instructions (on Android), the button went full width.

[2016-08-29 08:20] vermiculite commented on #220
There is a pull request to fix it. It is just a one line fix. If I can do anything to help let me know and I will do it.

[2016-08-30 07:46] jstoeffler opened #223 "Slider range could use min or max value when out of range instead of throwing an exception."
I've used the RangeSlider, and got an error when the min or max value was out of the minRange or maxRange.

I think it could be more tolerant and use the minRange if the min/max is lower than the minRange, or maxRange if the min/max is greater than maxRange.

[2016-08-30 08:51] mlumbroso opened #224 "Textfield: identify enter key"
Hi,

I looked properly at the reference for MKTextfield, and didn't find how I could identify when the user pressed Enter / Return key, since I can't figure out how to access native event, like in this solution : http://stackoverflow.com/questions/35764782/identify-return-key-action-in-react-native

Any solution with the current implementation?

Thanks :-)

[2016-08-30 09:03] Crash-- commented on #224
Hi,

It's pretty simple since MKTextField just pass properties to RN TextField. So something like SO's solution should work :
[code]

[2016-08-30 17:41] mschipperheyn opened #226 "TextField: tab issue"
It's not really a bug, but it's kind of undesirable behavior. If you give a tab in a TextInput field with a floatingLabel and placeholder, and then it loses focus, both the floating label and placeholder disappear.

This is normal because the field actually has content (the tab) and is not in focus, so there is no need to show either floating label or placeholder. However, it does give a weird and

[2016-09-07 07:26] vinayr commented on #214
+1
It should be `compile` instead of `provided`.
Otherwise `react-native run-android` will throw this error -
[code]

[2016-09-07 23:52] jsdevel opened #230 "Allow floatingLabelFont to take a Stylesheet reference."
floatingLabelFont is expecting an object.  StyleSheet returns numbers.  It would be cool if numbers were resolved against `StyleSheetRegistry.getStyleByID(style)`.  I kept seeing the following warning until I used an inline object literal (MKTextfield):

![warning](https://cloud.githubusercontent.com/assets/2605980/18332439/696d3b02-751b-11e6-84f5-b0f2418f21bd.png)

[2016-09-13 18:00] mschipperheyn opened #233 "TextField: Cannot read property 'measure' of undefined"
I'm having a problem that occurs from time to time on the TextField with Floating Label.

This started occurring when I upgraded to redux-form v6.

<img width="370" alt="screen shot 2016-09-13 at 14 56 01" src="https://cloud.githubusercontent.com/assets/384959/18485204/3cfd2220-79c2-11e6-98cf-8f1712b5a750.png">

The associated jsx is:

	<View style={formStyles.formGroup.normal}>
        <TextInput

[2016-09-13 18:07] mschipperheyn commented on #233
BTW, I think I started seeing this issue after upgrading to RN 0.32 or 0.33 (can't remember which)

[2016-09-14 06:55] Crash-- commented on #233
Can you try with this patch ? https://github.com/xinthink/react-native-material-kit/pull/232

[2016-09-14 09:46] bakyeono commented on #233
![screenshot_20160914_184404](https://cloud.githubusercontent.com/assets/2022454/18507470/7c0fed32-7aab-11e6-9a6f-357165b7dced.png)

Looks the patch doesn't solve the problem.

[2016-09-16 21:23] gkrinc opened #235 "How do you change the color of the caret/cursor on a MKTextField...it's always blue"
I'm able to style the MKTextField exact how I want with underline color and size as well as the font, but when the field is focused the blinking caret/cursor is always blue. Is this just part of my iOS settings or something I can style?

[2016-09-18 06:20] Sunshow commented on #233
I started seeing this issue after upgrading to RN 0.33.

[2016-09-18 06:42] Crash-- commented on #233
Can you try with the master branch. We have merged a few fixes for that but not released yet on npm

[2016-09-18 08:22] Sunshow commented on #233
after replace node_modules/react-native-material-kit with the master branch files, it works fine.
hope the newer release

[2016-09-18 16:00] comictvn opened #236 "[Placeholder] How can i custom font ?"
How can i custom font ?

const PasswordInput = MKTextField.textfieldWithFloatingLabel()
  .withPlaceholder('Mật khẩu')
  .withStyle(styles.form)
  .withTintColor(KColor.lightText)
  .withTextInputStyle(styles.textfield)
  .withHighlightColor(KColor.lightText)
  .withPlaceholderTextColor(KColor.lightText)
  .withPlaceholderFont(styles.form)
  .withFloatingLabelFont({
    fontFamily: require('../env

[2016-09-20 06:40] bakyeono commented on #213
Did you set this prop?

    rippleLocation='center'

[2016-09-20 16:01] gkrinc opened #238 "TextField not rendering properly when text prop changes value"
I have an TextField wrapped in a component, I tried setting the text prop of the TextField to a local state value and from a passed in prop. In either case, when the local state or supplied prop value changes the TextField does not re-render with the correct value.

The render method of my wrapper component is firing and I'm confirming that the value that I'm using the text prop on the TextField i

[2016-09-21 05:58] vysakh0 commented on #238
@gkrinc Facing the same issue :disappointed:

[2016-09-21 06:03] vysakh0 commented on #238
@gkrinc Currently I could do (which is not straight forward)

[code]

[code]

[2016-09-21 17:08] gkrinc commented on #238
Thanks @vysakh0 ...that's gross, but if it works, I'll use it for now.

[2016-09-23 21:51] HubMahesh commented on #53
Hi there,
I want to use custom segment control in react native
and i found https://recordnotfound.com/react-native-custom-segmented-control-wix-127433
 but showing error:

native component for CustomSegmentedControl does not exist.
Can i get any solution ?

[2016-09-26 12:42] jitenderchand1 opened #241 "Select all checkbox method"

[2016-09-26 15:28] jimmyhmiller commented on #88
Are the docs going to be updated to reflect this? http://www.xinthink.com/react-native-material-kit/docs/lib/mdl/Textfield.html#props doesn't mention it at all.

[2016-09-26 17:11] stief510 commented on #233
Can we get a version bump with this?

[2016-09-26 19:02] xotahal commented on #204
@necolas I'm gonna try it with [react-native-material-ui](https://github.com/xotahal/react-native-material-ui). Can't wait :)

[2016-09-26 21:24] jhabdas commented on #82
Also had this problem and simply running `react-native run-ios` to rebuild the iOS project corrected the error.

[2016-09-28 10:50] kkgelu opened #243 "RN0.34, MKTextField is double underlined on Android"
Fresh RN0.34 project from template, only adding
[code]

Result in this:

<img width="276" alt="screen shot 2016-09-28 at 12 44 15" src="https://cloud.githubusercontent.com/assets/11604017/18910699/7437ad24-8579-11e6-9c0f-4b95b666f117.png">

The text filed has two underlines.

Android version:  tested on both 5 and 7.

Fine on iOS.

Any help?

[2016-09-28 11:42] kkgelu commented on #243
Adding `underlineColorAndroid='transparent' ` seems to bring the default behaviour back.

[code]

[2016-09-28 11:42] #243 closed

[2016-09-28 21:55] larubbio opened #244 "Cannot read property startToggle of undefined"
After upgrading to RN 0.33 (because of an xcode 8 issue) I'm now getting a redbox error with toggles.  It looks like this is fixed in 6a7a33b8ea7ad8a3c843ebe0200af6119a01c4fe can it be released?

[2016-09-29 11:58] Crash-- commented on #244
You can use the master version with npm `npm install xinthink/react-native-material-kit`

I tried to contact @xinthink but have no news yet. If it sill the case this WE, I'll fork the project and create a new npm version.

[2016-09-29 12:09] Crash-- commented on #244
I'm closing the issue since the bug is fixed. ;)

[2016-09-29 12:09] #244 closed

[2016-09-29 12:10] Crash-- commented on #238
Thanks for reporting this issue!

[2016-09-29 12:11] Crash-- commented on #233
See my comment here https://github.com/xinthink/react-native-material-kit/issues/244#issuecomment-250446366

[2016-09-29 12:11] #233 closed

[2016-09-29 16:37] jhabdas commented on #206
I noticed someone in the SO doc is introducing FUD regarding the `KeyboardAvoidingView` component, and wanted to point to this rather useful post in a different SO thread on using `KeyboardAvoidingView`: http://stackoverflow.com/a/38799501/712334

[2016-09-30 13:12] agrass opened #245 "Problem with style in Switch"
Hi, I have an issue when I change the status of switch It show a few seconds with bad style format. Like this:

![captura de pantalla 2016-09-30 a las 10 08 32 a m](https://cloud.githubusercontent.com/assets/1148266/18992697/28586370-86f6-11e6-85cf-c68f98efc521.png)

Anyone know how to solve this?

I'm working with RN 0.26.2 and RMMK 0.3.2

Thanks!

[2016-09-30 13:35] Crash-- commented on #245
Can you try with the master branch? I know I fixed a bug with State & Switch few weeks ago but not released yet.

[2016-10-02 01:30] mschipperheyn opened #246 "Cannot read property 'setNativeProps' of undefined"
I sometimes get this issue. I'm on RN 0.34.1

<img width="359" alt="screen shot 2016-10-01 at 22 30 05" src="https://cloud.githubusercontent.com/assets/384959/19017951/a5674350-8826-11e6-93bc-86ea14be1608.png">

[2016-10-06 02:16] frederickfogerty commented on #245
@Crash-- Hi, I'm having a problem with Switches as well. How do I use the master branch, do I just use the git repo as my target for npm?

[2016-10-06 02:18] frederickfogerty commented on #245
I can confirm `master` fixes my problem, it was around `getThumb()` returning null when trying the toggle the checked state of the Switch.

[2016-10-06 03:09] frederickfogerty commented on #245
Unfortunately it does not fix this problem 😢

![image](https://cloud.githubusercontent.com/assets/615334/19139197/e5d9f6d8-8bde-11e6-868f-86580ec57a7b.png)

Steps to reproduce:

1. Render a switch with `<MKSwitch checked={false} />`
2. Update the switch so checked is now true programmatically (i.e. don't update by clicking) - the thumb won't move but will change colour. `<MKSwitch checked={true} /

[2016-10-09 18:42] quadsurf opened #248 "FloatingLabel.measure is undefined in RN 0.33.x and 0.34.x"
Not an issue in RN 0.32.0 but when I upgrade to either RN 0.33 or 0.34 it became an issue, even after rebuilding everything, running rnpm link again, and $ react-native upgrade to re-init all template files.

Issue happens on:
Textfield.js:85

[2016-10-09 18:59] Crash-- commented on #248
We have to release a new version. This issue is solved in the master branch. Can you use it?

[2016-10-09 21:43] jcollum commented on #82
Just ran into this and it was stopping the app from using MKCheckbox (weird red lines around the checkbox and it wasn't picking up its events). Had to kill my React Packager and run `react-native run-ios` again. Now it all works right.

[2016-10-10 19:36] RichardLindhout commented on #138
+1

[2016-10-11 09:56] martinezguillaume commented on #127
It would be a very interesting feature 👍  Hope to get it soon !

[2016-10-12 07:42] Crash-- commented on #246
Can you try with the master branch?

[2016-10-13 22:21] eGene opened #250 "Switch not rendering initial 'checked' state properly"
When I send checked as true to Switch, it does not render it properly. It would have proper color but thumb stays on the left. I believe it happens because you have this in Switch's componentWillMount:
[code]
_layoutThumb relies on this.state.checked and there is a good chance it will not be set on time. It works as expected if I replace above code with this:
[code]
Same should apply to componentW

[2016-10-17 20:48] gkrinc opened #252 "Mask/Ripple doesn't respect borderRadius"
I created a custom FlatButton (RNMK v0.3.3) with this code:

[code]

The button looks great, but the problem is the Mask/Ripple don't respect the borderRadius Style, which you can see in this image:

![flatbutton-issue](https://cloud.githubusercontent.com/assets/2718382/19454216/461d8776-9486-11e6-9aa6-ba15bafbf863.gif)

What style do I need to set to ensure the Mask/Ripple has the same radius as

[2016-10-18 09:51] jitenderchand1 opened #253 "Radio button bouncing up and down in nexus 5x-6.0.0 API 23"
I have debug into RadioButton.js In that file onLayout is calling repetitively . Which is causing issue.
It is togging width from 20 to 19 and then 19 to 20. Which causing bubbling issue.

[2016-10-21 16:36] DeDuckProject opened #254 "mdl.Spinner strokeColor array doesn't appear on 0.3.3"
Using array as strokeColor on android makes spinner not appear (on iPhone works ok)

For this code I got this:
[code]

<img width="390" alt="screenshot 2016-10-21 19 30 57" src="https://cloud.githubusercontent.com/assets/10045034/19605681/073b929a-97c5-11e6-980f-a80e4e5bf0ab.png">

and here I got this:
[code]

<img width="399" alt="screenshot 2016-10-21 19 32 44" src="https://cloud.githubuserconte

[2016-10-22 10:44] Arman92 commented on #131
What is the status of this issue?
I too can't change the color of floating label... tried everything but still no chance

[2016-10-22 16:52] tomerghelber opened #255 "Other libs"
I found [this repository](https://github.com/xotahal/react-native-material-ui), which  have better a really good toolbar, but try to do the same thing as you.

As well [this one](https://github.com/react-native-material-design/react-native-material-design), which have the drawer style.

Can this lib ask to merge with them about those feature and might others?

Thanks.

[2016-10-23 15:23] mschipperheyn opened #256 "undefined is not an object (evaluating this.refs.input.setNativeProps')"
I think this error is related to the TextInput Component. It happens sometimes when I'm transitioning from a form to another screen (I user Navigation Experimental)

I think it may be related to mounting and unmounting.

<img width="369" alt="screen shot 2016-10-23 at 11 47 15" src="https://cloud.githubusercontent.com/assets/384959/19627354/d098c8e2-9923-11e6-988e-f00195a7a2c6.png">

[2016-10-23 21:23] mosluce opened #257 "Button with red border and can not click"
- RN Version : 0.35.0
- iOS: 10.0
- macOS: 10.12

1. createButton using new MKButton.Builder or other functions
2. put some button and test click
3. console print 2 errors
4. red border around button
5. can not click buttons
![out](https://cloud.githubusercontent.com/assets/1487051/19629527/7daedaf0-99a9-11e6-84ab-1a09aa31d00d.gif)

Source code
![2016-10-24 5 12 54](https://cloud.githubusercontent

[2016-10-23 21:34] mosluce commented on #257
this is a problem that install package with "yarn",
this is ok by "npm"

[2016-10-23 21:34] #257 closed

[2016-10-26 09:30] martinezguillaume opened #259 "MKTouchable has no propType, react-native 0.36.0"
![image](https://cloud.githubusercontent.com/assets/17292331/19720659/690f4644-9b6f-11e6-8403-c5d18f5ff209.png)

I just updated to react-native 0.36.0 and this is the error I got, anyone in the same problem ?
(react-native-material-kit: ^0.3.3)
refs: #258

[2016-10-26 09:49] Crash-- commented on #259
Can you try this fix: #258

[2016-10-26 15:02] YuukanOO commented on #259
@Crash-- Works for me!

[2016-10-26 22:55] artiestie opened #260 "MKTextField multiple fields - onFocus requires onBlur to trigger first"
I have some views in my app where multiple textfields are used together, and I can't switch focus between them unless I tap (blur).  Is this a known issue or is there something I am doing wrong?

[2016-10-26 23:14] #260 closed

[2016-10-26 23:14] artiestie commented on #260
It was inside a scrollview :|

[2016-10-27 00:52] Taakn commented on #259
works for me as well thanks

[2016-10-27 01:40] vitorebatista commented on #259
Works here too, thanks!

[2016-10-28 09:52] martinezguillaume commented on #259
Works for me too !

[2016-10-28 15:13] theobouwman commented on #259
Here do I need to add this code?

[2016-10-29 21:43] AndrewHenderson commented on #82
I'm trying to use `MKButton` in React Native's `Navigator.NavigationBar`. Their docs instruct users to use `TouchableHighlight` for the buttons. Is `MKTouchable` the equivalent of that? Based on the comments in `MKTouchable.js`, it doesn't seem like it. When attempting to use `MKTouchable` in the `NavigationBar`, I receive the following error:

<img width="312" alt="screen shot 2016-10-29 at 2 42

[2016-10-29 21:48] jcollum commented on #82
@AndrewHenderson I think that's more appropriate on StackOverflow.

[2016-10-29 21:50] AndrewHenderson commented on #82
If anyone else reads this chain, I resolved it by rebuilding my Xcode project and the linking took care of the rest. As others have mentioned, the linking doesn't take effect until you rebuild.

[2016-10-29 21:53] jhabdas commented on #82
@AndrewHenderson **Sidebar:** Are you sure you want to be using their navigation bar when [`react-native-router-flux`](https://github.com/aksonov/react-native-router-flux/) exists?

[2016-10-29 23:24] AndrewHenderson commented on #82
@jhabdas I'll check that project out. I'm new to React Native and React. It's been a lot of discovery.

[2016-10-30 00:16] AndrewHenderson commented on #82
@jhabdas Do you know if that works well with Redux? I found `react-native-router-redux`, however the repo appears inactive.

[2016-10-30 00:47] jhabdas commented on #82
Works great with Redux. And made to do so. Hope this helps you @AndrewHenderson https://habd.as/awesome-react-boilerplates

[2016-10-31 18:27] IamPhon commented on #177
I'm facing this problem like @tiaaaa123 .

Does anyone have the same problem??

[2016-11-01 00:11] mschipperheyn opened #261 "React Native 0.36 support"
RN 0.36 has some breaking changes to the way flex box is processed https://github.com/facebook/react-native/releases/tag/v0.36.0

On my application it breaks the floating label textinput.

[2016-11-03 15:54] work2fork commented on #235
+1, same problem

[2016-11-04 04:11] WatcherDing opened #262 "I don't know why the border color is red, who can tell me why ?"
use react-native-material-kit 0.3.3   MKButton.coloredButton()
I don't know why the border color is red, I did not set the Bordercolor, is it the default is red？

[2016-11-04 04:30] #262 closed

[2016-11-04 05:44] WatcherDing commented on #262
i know ， i have an error

[2016-11-04 13:34] gkrinc opened #263 "When TextField is focused the next click only blurs from TextField it doesn't trigger click/press events on other components"
If I'm focused in an MKTextField then click/press on another component (MK or react-native) the click only seems to blur the MKTextField it doesn't trigger the click/press on the other component.

In the example below, I'm focused in the MKTextField, I typed "Test" then I click the "CONTINUE" button. You can see the ripple on the button, but I have to click the "CONTINUE" button a second time to g

[2016-11-04 13:39] Crash-- commented on #263
Are you inside a ScrollView? If yes, can you try https://github.com/xinthink/react-native-material-kit/issues/194#issuecomment-239183838

[2016-11-04 14:24] gkrinc commented on #263
I am and I followed the instructions provided in that issue, but it didn't quite help...unless I'm doing something wrong. If I set breakpoints and walk through each line of code in the **onStartShouldSetResponderCapture** handler it works, when I let it run realtime without breakpoints it doesn't work; race condition?

I have a page component like this:

[code]

Then MyContainer connects to a comp

[2016-11-07 16:31] yustnip commented on #261
Can inform that Slider is broken. A thumb position isn't updated but at the same time a value is changed.

[2016-11-08 17:49] jankalfus commented on #252
You can use the `maskBorderRadius` prop.

[2016-11-09 22:25] jdpenuliarkorefabrik opened #264 "Execution failed for task ':app:prepareComFacebookFrescoDrawee0110Library'"
Could not expand ZIP '/Users/JDPenuliar/.gradle/caches/modules-2/files-2.1/com.facebook.fresco/drawee/0.11.0/7c8a4d211b2334b6d52b9de614b52423b16f7704/drawee-0.11.0.aar'.

[2016-11-10 00:55] jdpenuliarkorefabrik commented on #259
@Crash-- where do you add this?

[2016-11-10 11:21] theobouwman commented on #259
@jdpenuliarkorefabrik https://github.com/xinthink/react-native-material-kit/pull/258/files#diff-baf96da6c3e386136d54a3847c06defd

[2016-11-14 11:02] mschipperheyn commented on #261
I'm concerned about the lack of follow up to these blocking breaks on this library

[2016-11-18 06:46] Shinichi52 commented on #259
@Crash-- I tried add your commit. but i can't Touch and focus to textbook or button? can you help me?

[2016-11-18 12:40] mschipperheyn opened #265 "Add underline component to export"
The underline component is a useful component to have when you're building your own Material Design components. I would suggest adding it to the TextField export or better yet, separating it out as a component

[2016-11-19 05:21] andrewnoh commented on #261
My sliders appear to work on 0.36 and 0.37.

[2016-11-19 20:29] baryshok commented on #264
I had the same issue. As far as i remember it was an issue with permissions to one of the folders, because everything went smoothly when i executed:

Try add sudo first and if it helps then try to remove /node_modules folder and then run

[2016-11-21 15:45] dannycochran opened #267 "publish new version (v.0.3.4) to npm registry"
Currently need to require a specific commit hash of rn-material-kit to get the fix from here:

https://github.com/xinthink/react-native-material-kit/pull/258

e.g. in package.json:

[code]

Can one of the library admins push a new release, v0.3.4, which is just what's currently on master, and update it on the npm registry? Thank you.

[2016-11-21 21:11] gkrinc commented on #235
I was able to change the caret colour by adding this code to AppDeletegate.m

`[[UITextField appearance] setTintColor:[UIColor colorWithRed:0x45/255.0 green:0x22/255.0 blue:0xbb/255.0 alpha:1.0]];`

This change the caret colour for ALL text fields in your app, which is likely the desired behaviour, but something to keep in mind.

[2016-11-21 21:11] #235 closed

[2016-11-22 19:46] morelazers commented on #236
Did you ever find a solution for this?

I'm not using the builder but would appreciate some help trying to set `fontFamily` on the 1MKTextField` component

[2016-11-25 16:02] gkrinc opened #268 "Switch change not animated when tried to props"
When I set the MKSwitch **checked** prop to a store value and set that store value when **onCheckedChange** fires, it's position toggles on and off, but the switch thumb doesn't animate.

[code]

What am I doing wrong? The example code for the MKSwitch provides no practical example of how to use this component :(

[2016-11-25 23:45] Freydal opened #269 "Props issue with a dynamic input overlay."
I am working on a RN component which will render TextInputs based on prop arrays containing field names, values and placeholders.  I was using one change hander that took advantage of `event._targetInst._currentElement.props.index` to get the index prop given to the element.  This ended up being pretty cool and versatile.

Once everything was functional I started to try to pull in the MKTextField

[2016-11-27 03:28] #214 closed

[2016-11-29 19:43] lightboys22 opened #270 "On iPhone, the accessibility for slider, checkbox, and radio buttons are poor"
If the user turned on voice over, ...
- the slider should announce what is the current value.
- the checkbox / radio buttons should announce if it is checked or not.
- the buttons should have a UIAccessibilityTraitButton trait.

[2016-11-30 07:42] cubbuk commented on #253
Having the same issue. This results in a shaky effect on radio button.

[2016-11-30 10:06] BigPun86 commented on #267
+1

[2016-11-30 21:58] timscott opened #271 "`MKTouchable` has no propType for native prop `MKTouchable.nativeForegroundAndroid` of native type `Map`"
After upgrading to ```react-native@0.38.0``` and ```react-native-material-kit@0.3.3```, I'm getting this error:

[code]

Suggestions?

[2016-11-30 23:31] rgstephens commented on #271
I also just ran into this issue.

[2016-11-30 23:38] rgstephens commented on #271
This problem and the solution were posted at #259

[2016-12-01 12:26] vonovak commented on #259
@Crash-- @xinthink could you do a release with this fix?

[2016-12-01 17:02] BigPun86 commented on #259
+1

[2016-12-01 17:03] jdpenuliarkorefabrik commented on #259
@theobouwman thanks!

[2016-12-01 18:22] ericacooksey opened #272 ""Can't find variable: Text" with MKButton JSX"
I have the following code for a very simple MaterialButton class:

[code]

This works perfectly when I remove the line `<Text>SOME TEXT</Text>` (albeit, the button has no text). However, when I keep that line, I persistently get the error "Can't find variable: Text". I can use `.withText` with the Builder just fine. However, the JSX seems to be broken. Is there a fix for this?

[2016-12-01 18:41] timscott commented on #271
For others facing this issue, the solution that's working for me is: In ```package.json```

[code]

And change to 0.3.4 when released.

[2016-12-01 20:02] #272 closed

[2016-12-08 09:37] ajagesser commented on #271
I am getting an error with this setup. Anyone know why?

RN 0.38,
"react-native-material-kit": "git://github.com/youennPennarun/react-native-material-kit.git#cc9ac25"

`Unknown named module: 'react-native-material-kit'
_require
    require.js:92
<unknown>
    GeneralStyle.js:2
loadModuleImplementation
    require.js:170
guardedLoadModule
    require.js:122
_require
    require.js:106
<unknown>

[2016-12-08 14:47] timscott commented on #271
@ajagesser Did you run ```npm install``` or ```yarn``` after you changed your ```package.json``` file?

[2016-12-08 18:05] dannycochran commented on #267
@xinthink @Crash--  if you'd like to add me as a collaborator on NPM I can also do this.

[2016-12-13 23:18] grubstarstar commented on #267
I've tried replacing the line in package.json as above and have run 'npm install' but I still get the error message after doing 'react-native run-android'. Any ideas?

[2016-12-14 02:33] ErkanSensei commented on #268
+1

[2016-12-15 03:34] kencana-voilaah commented on #174
humm, I am not sure if i am doing the right thing, but to make it work, I added a couple of thing in Textfield.js

1. in TextField component
- I added in onLayout event listener, to grab the latest width value
- added in 3 state value: width, height, focus
- in onLayout method, I will set the latest width and height, and check if the focus state is true, if it is, i will call `this._aniStartHighli

[2016-12-15 12:01] ponty96 commented on #267
please has the new release been pushed yet?

[2016-12-15 13:19] xinthink commented on #267
Sorry for the delay, I'll do it this weekend.

[2016-12-15 22:30] Gentlee opened #275 "screen with 6 radio buttons lags very much"
On settings screen we have 6 radio buttons and it lags very much on opening. It is ideally smooth if change MKRadioButton to any other view (MKButton etc).

[2016-12-18 05:09] #267 closed

[2016-12-18 08:34] activelogic opened #276 "Change placeholder color"
I'm implementing a Textfield with a Floating Label as below.  For some reason, `withTintColor()` has no effect on the placeholder text as described in the documentation.   What do I need to do to make the placeholder text grey instead of black?

[code]

[2016-12-20 05:19] #276 closed

[2016-12-20 12:57] rseemann commented on #261
any workaround for broken inputs?

[2016-12-20 13:19] rseemann commented on #261
There seems to be a problem at this styling here: https://github.com/xinthink/react-native-material-kit/blob/master/lib/mdl/Textfield.js#L539

[2016-12-21 08:30] Mactub07 opened #277 "disable "Range Slider" prop"
is there a way(prop) to disable range Slider?

[2016-12-21 12:36] CFitzsimons commented on #220
I'm still having this issue, not sure if it's something I've done wrong or not but thought I'd provide more information.

**I am only running on iOS**

RN: 0.31.0
CLI: 0.2.0
RNMK: 0.3.4
iOS Simulator: iPhone 5s
iOS Version: 9.3

I've tested with a builder:

[code]

and without:

[code]

Sorry if my styling/formatting isn't great.

[2016-12-22 01:38] jcollum opened #278 "MKButton builder: withShadowRadius is not a function"
Docs: `readme.md:158`

[code]

![image](https://cloud.githubusercontent.com/assets/704514/21412232/9257c656-c7a3-11e6-9d20-baef94bee0a4.png)

[code]

Line 3 works. Line 4 & 5 fails with the above error (or a variation of it).

[2016-12-22 19:30] stief510 opened #279 "Input text not seen"
As i am typing the input the letters do not appear. only when i tap out of the input field

[2016-12-23 22:51] parker-kimbell commented on #279
I am also seeing this. 0.3.4 is breaking text input fields on at least iOS.

[2016-12-24 08:06] Crash-- commented on #279
Which version of RN are you using? Since RN changes its flex box system we had to remove a flex:1 for new version...

Can you try to add a textInputStyle property as suggested here : https://github.com/xinthink/react-native-material-kit/pull/274#issuecomment-267754368

[2016-12-24 09:21] xinthink commented on #279
As @Crash-- mentioned, please try to specify `flex:1` in `textInputStyle`
And I've also put this in the [release note of v0.3.4](https://github.com/xinthink/react-native-material-kit/releases/tag/v0.3.4)

[2016-12-24 13:55] mafzalashraf4044 commented on #131
You can use TextInput Component's property placeholderTextColor with textFieldWithFloatingLabel as       .withPlaceholderTextColor('#666666')

[2016-12-26 14:01] remon-georgy commented on #204
RNMK loads platform-specific components in runtime, needless to say it fails to find a .web equivalent while using react-native-web https://github.com/remon-georgy/react-native-components-on-web/tree/react-native-material-kit

[2016-12-28 08:34] Crash-- commented on #277
Not yet. Hope we can do that ASAP. PRs are welcome ;)

[2016-12-28 08:34] #277 closed

[2016-12-28 08:36] Crash-- commented on #275
Did you try to profile the issue? Does it lag only on opening or also when the component is mounted?

[2016-12-28 11:34] Gentlee commented on #275
@Crash-- well, when screen is opened, radio buttons are mounted. So yes, it lags when component is mounted.

[2016-12-29 08:40] Crash-- commented on #275
Have you put some debug info somewhere? Like in the MKRadioButton render method to see if the component are always refreshing?

What RN version do you use?

[2016-12-29 08:53] Gentlee commented on #275
react-native 0.38.0
No i haven't, just implemented my own radio buttons.

[2016-12-30 04:06] jcollum commented on #177
Was this ever resolved? I'm running into a similar issue.

[2016-12-31 19:12] jcollum opened #281 "text in basic MKTextField is not visible while typing"
[code]

When focus is on another text box:

![image](https://cloud.githubusercontent.com/assets/704514/21570598/537d862a-ce7c-11e6-844e-90ee409ec4b6.png)

When focus is on top text box:

![image](https://cloud.githubusercontent.com/assets/704514/21570604/6575b8b6-ce7c-11e6-91f3-3b55a1df146f.png)

When triple clicking top text box's text:

![image](https://cloud.githubusercontent.com/assets/704514/

[2017-01-03 19:20] parker-kimbell commented on #279
Thanks much for the response; we'll try what's been suggested.

RN version is 0.35.

[2017-01-04 22:25] tiagofumo opened #283 "Styling elements"
I am trying to do some basic styling on a button.

[code]
I am wondering how can I use it elsewhere like this:
[code]
But that results in this (both text and button received all the style props and notice the warnings):

![screenshot](http://i.imgur.com/qokYpT3.png)

So is there a way to pass a single `style` prop to a `MKButton` build component that will correctly affect the text and the button (

[2017-01-05 16:59] jitenderchand1 opened #284 "Checkbox render issue (IOS)"
Checkbox did not render correctly. But the other thing are link radiobutton and slider are working perfectly.

Version detail

`"react-native-material-kit": "^0.3.4",`
`react-native:0.39.2`

![screen shot 2017-01-05 at 10 29 25 pm](https://cloud.githubusercontent.com/assets/19687185/21689475/70d72e64-d396-11e6-9415-2fffdcfe1414.png)

[2017-01-05 17:02] Crash-- commented on #284
Generally when you see a red box it's because RNMK is not well linked. By that I mean the native code is not linked correctly. Check if `react-native link` has done its own work (check the manually section here https://github.com/xinthink/react-native-material-kit#android)

If others components are working it's mainly because they don't need native code.

[2017-01-05 17:03] jitenderchand1 commented on #284
Thanks for quick response. I am looking into it now

[2017-01-05 17:13] jitenderchand1 commented on #284
It is working fine after linking. Thanks!

[2017-01-05 17:13] #284 closed

[2017-01-05 19:55] arjunpola commented on #281
I have the same issue

react-native-cli: 1.0.0
react-native: 0.39.2

"react-native-material-kit": "^0.3.4",

Works perfectly fine on Android but on iOS I don't see the text until I select a different UI component.

[2017-01-06 10:08] jitenderchand1 opened #286 "set border radius in checkbox"
Can we set checkbox `borderRadius` property.

[2017-01-09 04:36] tuantle opened #287 "Please update to react native 0.40.0"
With react native 0.40.0, iOS native headers has been moved to #import <React/RCTUtils.h>. Please update to support this.

[2017-01-10 13:12] ishabo commented on #287
I forked it and made a PR: https://github.com/xinthink/react-native-material-kit/pull/289

For now I just point to my branch in the packages.json file:

`    "react-native-material-kit": "git+https://github.com/ishabo/react-native-material-kit.git#react_native_0.40.0_compatability",
`

[2017-01-10 13:51] ishabo commented on #177
I am having the same issue with the height. @jcollum @tiaaaa123 any luck getting that working?

[2017-01-10 14:00] ishabo commented on #177
I was able to tackle that by setting the height on textInputStyle as well.

[2017-01-10 14:14] ishabo commented on #46
I had to set the height on textFieldStyle on iOS. It stretches fine on Android without setting the height there.

[2017-01-11 01:12] tuantle commented on #287
Awesome. Thanks.

[2017-01-11 01:15] ggarek commented on #217
Having the same issue, but furthermore buttons do not react on touch events.
Same behaviour on emulator and real device.

RN40
"react-native-material-kit": "^0.3.4"

Read all comments, and checked related files, the content is correct as in this thread.

[2017-01-11 04:08] quan118 commented on #281
You can fix this bug by adding flex:1 in the textInputStype prop

[code]

[2017-01-11 05:21] arjunpola commented on #281
@quan118 thank you so much. Yeah, that solved the problem for me.

[2017-01-11 08:34] Crash-- commented on #281
👍

[2017-01-11 08:34] #281 closed

[2017-01-11 08:34] Crash-- commented on #217
Do you have any red box around your button?

[2017-01-11 08:35] Crash-- commented on #287
I'll publish a new major version on NPM soon in order to not break existing app.

[2017-01-11 12:35] ggarek commented on #217
@Crash-- Yes, there is a red box(boder). Sorry for the report with few details, here are they:

My package.json
[code]

Install MK
[code]

link MK
[code]

diff after install & link
[code]

Code
[code]

<img width="352" alt="screen shot 2017-01-11 at 11 27 38" src="https://cloud.githubusercontent.com/assets/5501062/21848578/0937d146-d7f1-11e6-8e5f-5fe4fbc82d23.png">

[2017-01-12 04:15] avioli commented on #215
This happens because of the radio Group used. It keeps a "pool" of buttons it needs to "uncheck" when a radio button is **checked**.

One thing **you** can do is fork this repo, fix this and send a pull request to the maintainer(s). Hint: add `remove()` method to the Group class and call it on Button's `componentWillUnmount`. Fun.

The other thing **you** can do is to init the radio group **every

[2017-01-12 12:18] dgdavid commented on #261
Also [`cardStyle`](https://github.com/xinthink/react-native-material-kit/blob/1db0f44199a7e7f57bd878060678090eb0511865/lib/theme.js#L99) and [`cardImageStyle`](https://github.com/xinthink/react-native-material-kit/blob/1db0f44199a7e7f57bd878060678090eb0511865/lib/theme.js#L113) have yet the `flex: 1` property, which should be removed.

Just for the records, I'm getting the `View was rendered with

[2017-01-12 12:26] dgdavid commented on #287
@Crash-- Could you also remove unnecessaries `flex: 1` properties? (see #261 )

[2017-01-15 06:09] tiagofumo commented on #283
I didn't see the JSX equivalent on the README page. I am closing this issue

[2017-01-15 06:09] #283 closed

[2017-01-15 13:58] Crash-- commented on #287
Done. It's the first time I release a package to NPM so let me know if I've done something wrong :)

[2017-01-15 13:58] #287 closed

[2017-01-15 13:59] Crash-- commented on #279
Is it working @parker-kimbell ?

[2017-01-15 14:00] #271 closed

[2017-01-15 14:00] #269 closed

[2017-01-15 14:00] #261 closed

[2017-01-15 14:00] #259 closed

[2017-01-15 14:01] #248 closed

[2017-01-15 22:46] wardnath opened #290 "Autocomplete does not trigger onTextChange"
I am using the text field element, I have a handler for the onTextChange callback that updates the state of the component with the new value from the text field. The callback is not triggered if autocomplete changes the text in the field and I touch somewhere else on the screen.

Here is a screen capture:
![autocomplete_rnmk_small](https://cloud.githubusercontent.com/assets/4514195/21966894/00bfc5

[2017-01-15 22:48] wardnath commented on #290
it's hard to see in the gif, but the text in the box changes from Br to Be, but the change is not registered in the callback until I add more text to the field

[2017-01-18 15:24] aymericbouzy commented on #77
I have this issue again with version 0.3.4 :
[code]
I have double checked Build Tools revision 23.0.3 are installed. Is there a fix?

[2017-01-18 15:40] aymericbouzy commented on #77
I just found the fix : my `$ANDROID_HOME` was not correct. Setting it to the result of `which android` solved it for me.

http://stackoverflow.com/a/38181490/3995091

No need to reopen this issue.

[2017-01-20 09:23] aymericbouzy commented on #77
Installing build tools with Android Studio rather than Android SDK solved it for me. http://stackoverflow.com/a/39068538/3995091

[2017-01-20 18:05] booboothefool opened #293 "Is there a way to do vertical Slider & have the minValue not have a white thumb color?"

[2017-01-23 15:48] te-je commented on #276
You closed this. Did you find a solution?

[2017-01-23 15:49] te-je commented on #276
Did you find a solution for this? I'm having trouble with this as well.

[2017-01-25 21:41] Jlexyc opened #294 "TextField with default value doesn't highlight on focus"
If i'm set "defaultValue" (or any alias) prop of TextField it ingores "highlightColor" and animation of underline on focus.

[2017-01-27 19:16] guimello commented on #213
I also can't get this to work on Android. Tried different approaches. It seems overflow hidden does no effect on Android. RN 0.37.

I'm still trying to find a solution.

[2017-02-03 10:41] artem-kushal opened #295 "How use MKRipple?"
I try <MKRipple><View style={styles.container} /></MKRipple> but it is not work. what am I doing wrong?